<section class="advantages">
    <div class="advantages__content">
        <h2 class="h2 advantages__heading">
            «Арктос» — это качество выполняемых работ, подтверждённое гарантиями
        </h2>
        <div class="advantages__grid">
            <ol class="advantages__list">
                <li class="advantages__list-item">
                    Допуски СРО на проектирование, строительство и выполнение функций технического заказчика
                </li>
                <li class="advantages__list-item">
                    Лицензии на деятельность по монтажу, ремонту, обслуживанию пожарной и охранно-пожарной сигнализации
                </li>
                <li class="advantages__list-item">
                    Лицензии на монтаж, техническое обслуживание и ремонт систем пожаротушения
                </li>
            </ol>
            <ul class="advantages__cerfificates-list">
                <li class="advantages__cerficicates-list-item">
                    <a href="#" class="certificate-card">
                        <div class="certificate-card__content">
                            <h3 class="certificate-card__title">
                                Лицензия на осуществление деятельности по монтажу, техническому обслуживанию и ремонту
                                средств обеспечения пожарной безопасности зданий и сооружений
                            </h3>
                            <div class="certificate-card__format">
                                Pdf
                            </div>
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </div>
                    </a>
                </li>
                <li class="advantages__cerficicates-list-item">
                    <a href="#" class="certificate-card">
                        <div class="certificate-card__content">
                            <h3 class="certificate-card__title">
                                Лицензия на осуществление деятельности по монтажу, техническому обслуживанию и ремонту
                                средств обеспечения пожарной безопасности зданий и сооружений
                            </h3>
                            <div class="certificate-card__format">
                                Pdf
                            </div>
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </div>
                    </a>
                </li>
                <li class="advantages__cerficicates-list-item">
                    <a href="#" class="certificate-card">
                        <div class="certificate-card__content">
                            <h3 class="certificate-card__title">
                                Лицензия на осуществление деятельности по монтажу, техническому обслуживанию и ремонту
                                средств обеспечения пожарной безопасности зданий и сооружений
                            </h3>
                            <div class="certificate-card__format">
                                Pdf
                            </div>
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </div>
                    </a>
                </li>
                <li class="advantages__cerficicates-list-item">
                    <a href="#" class="certificate-card">
                        <div class="certificate-card__content">
                            <h3 class="certificate-card__title">
                                Лицензия на осуществление деятельности по монтажу, техническому обслуживанию и ремонту
                                средств обеспечения пожарной безопасности зданий и сооружений
                            </h3>
                            <div class="certificate-card__format">
                                Pdf
                            </div>
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </div>
                    </a>
                </li>
            </ul>
            <div class="advantages__bottom">
                <a href="#" class="btn advantages__link">
                    смотреть все
                </a>
                <img src="/images/advantages.svg" alt="" class="advantages__illustration">
            </div>

        </div>
    </div>
</section>