<section class="block-for-text">
    <div class="block-for-text__content">
        <h2 class="h2 block-for-text__heading">
            Блок для текстового контента
        </h2>
        <div class="block-for-text__wrapper">
            <div class="block-for-text__inner">
                <div class="accordions">
                    <ul class="accordions__list">
                        <li class="accordions__list-item">
                            <div class="accordion">
                                <div class="accordion__left-col">
                                    <h3 class="accordion__title">
                                        Заголовок
                                    </h3>
                                    <div class="accordion__dropdown">
                                        <div class="accordion__dropdown-inner">
                                            <div class="accordion__dropdown-content">
                                                Текст-заполнитель — это текст, который имеет некоторые характеристики
                                                реального письменного текста, но является случайным набором слов или
                                                сгенерирован иным образом. Его можно использовать для отображения
                                                образца шрифтов
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion__icon">

                                </div>
                            </div>
                        </li>
                        <li class="accordions__list-item">
                            <div class="accordion">
                                <div class="accordion__left-col">
                                    <h3 class="accordion__title">
                                        Заголовок
                                    </h3>
                                    <div class="accordion__dropdown">
                                        <div class="accordion__dropdown-inner">
                                            <div class="accordion__dropdown-content">
                                                Текст-заполнитель — это текст, который имеет некоторые характеристики
                                                реального письменного текста, но является случайным набором слов или
                                                сгенерирован иным образом. Его можно использовать для отображения
                                                образца шрифтов
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion__icon">

                                </div>
                            </div>
                        </li>
                        <li class="accordions__list-item">
                            <div class="accordion">
                                <div class="accordion__left-col">
                                    <h3 class="accordion__title">
                                        Заголовок
                                    </h3>
                                    <div class="accordion__dropdown">
                                        <div class="accordion__dropdown-inner">
                                            <div class="accordion__dropdown-content">
                                                Текст-заполнитель — это текст, который имеет некоторые характеристики
                                                реального письменного текста, но является случайным набором слов или
                                                сгенерирован иным образом. Его можно использовать для отображения
                                                образца шрифтов
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion__icon">

                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>