<section class="certificates">
    <div class="certificates__content">
        <div class="breadcrumbs">
            <ul class="breadcrumbs__list">
                <li class="breadcrumbs__list-item">
                    <a href="#" class="breadcrumbs__link">
                        Главная
                    </a>
                </li>
                <li class="breadcrumbs__list-item">
                    <a class="breadcrumbs__link active">
                        Сертификаты
                    </a>
                </li>
            </ul>
        </div>
        <div class="certificates__row">
            <h1 class="h1 certificates__heading">
                «Арктос» — это качество выполняемых работ, подтверждённое гарантиями
            </h1>
            <ol class="certificates__list">
                <li class="certificates__list-item">
                    <div class="certificates__list-item-text">
                        Допуски СРО на проектирование, строительство и выполнение функций технического заказчика
                    </div>
                </li>
                <li class="certificates__list-item">
                    <div class="certificates__list-item-text">
                        Лицензии на деятельность по монтажу, ремонту, обслуживанию пожарной и охранно-пожарной
                        сигнализации
                    </div>
                </li>
                <li class="certificates__list-item">
                    <div class="certificates__list-item-text">
                        Лицензии на монтаж, техническое обслуживание и ремонт систем пожаротушения
                    </div>
                </li>
            </ol>
        </div>
        <div class="certificates__tabs js-tabs">
            <div class="certificates__nav">
                <div class="tabs-nav">
                    <ul class="tabs-nav__list">
                        <li class="tabs-nav__list-item">
                            <button class="tab-btn js-tabs-btn active">
                                Сертификаты
                            </button>
                        </li>
                        <li class="tabs-nav__list-item">
                            <button class="tab-btn js-tabs-btn">
                                Лицензии
                            </button>
                        </li>
                        <li class="tabs-nav__list-item">
                            <button class="tab-btn js-tabs-btn">
                                Ещё категория документа
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="certificates__results">
                <div class="tab-items">
                    <div class="tab-items__item js-tabs-item active">
                        <h2 class="h3 certificates__inner-heading">
                            Сертификаты
                        </h2>
                        <ul class="certificates__results-list">
                            <li class="certificates__results-list-item">
                                <a href="#" class="certificate-card">
                                    <div class="certificate-card__content">
                                        <h3 class="certificate-card__title">
                                            Лицензия на осуществление деятельности по монтажу, техническому обслуживанию
                                            и ремонту
                                            средств обеспечения пожарной безопасности зданий и сооружений
                                        </h3>
                                        <div class="certificate-card__format">
                                            Pdf
                                        </div>
                                        <svg width="14" height="14" aria-hidden="true">
                                            <use xlink:href="#arrow-right"></use>
                                        </svg>
                                    </div>
                                </a>
                            </li>
                            <li class="certificates__results-list-item">
                                <a href="#" class="certificate-card">
                                    <div class="certificate-card__content">
                                        <h3 class="certificate-card__title">
                                            Лицензия на осуществление деятельности по монтажу, техническому обслуживанию
                                            и ремонту
                                            средств обеспечения пожарной безопасности зданий и сооружений
                                        </h3>
                                        <div class="certificate-card__format">
                                            Pdf
                                        </div>
                                        <svg width="14" height="14" aria-hidden="true">
                                            <use xlink:href="#arrow-right"></use>
                                        </svg>
                                    </div>
                                </a>
                            </li>
                            <li class="certificates__results-list-item">
                                <a href="#" class="certificate-card">
                                    <div class="certificate-card__content">
                                        <h3 class="certificate-card__title">
                                            Лицензия на осуществление деятельности по монтажу, техническому обслуживанию
                                            и ремонту
                                            средств обеспечения пожарной безопасности зданий и сооружений
                                        </h3>
                                        <div class="certificate-card__format">
                                            Pdf
                                        </div>
                                        <svg width="14" height="14" aria-hidden="true">
                                            <use xlink:href="#arrow-right"></use>
                                        </svg>
                                    </div>
                                </a>
                            </li>
                            <li class="certificates__results-list-item">
                                <a href="#" class="certificate-card">
                                    <div class="certificate-card__content">
                                        <h3 class="certificate-card__title">
                                            Лицензия на осуществление деятельности по монтажу, техническому обслуживанию
                                            и ремонту
                                            средств обеспечения пожарной безопасности зданий и сооружений
                                        </h3>
                                        <div class="certificate-card__format">
                                            Pdf
                                        </div>
                                        <svg width="14" height="14" aria-hidden="true">
                                            <use xlink:href="#arrow-right"></use>
                                        </svg>
                                    </div>
                                </a>
                            </li>
                            <li class="certificates__results-list-item">
                                <a href="#" class="certificate-card">
                                    <div class="certificate-card__content">
                                        <h3 class="certificate-card__title">
                                            Лицензия на осуществление деятельности по монтажу, техническому обслуживанию
                                            и ремонту
                                            средств обеспечения пожарной безопасности зданий и сооружений
                                        </h3>
                                        <div class="certificate-card__format">
                                            Pdf
                                        </div>
                                        <svg width="14" height="14" aria-hidden="true">
                                            <use xlink:href="#arrow-right"></use>
                                        </svg>
                                    </div>
                                </a>
                            </li>
                            <li class="certificates__results-list-item">
                                <a href="#" class="certificate-card">
                                    <div class="certificate-card__content">
                                        <h3 class="certificate-card__title">
                                            Лицензия на осуществление деятельности по монтажу, техническому обслуживанию
                                            и ремонту
                                            средств обеспечения пожарной безопасности зданий и сооружений
                                        </h3>
                                        <div class="certificate-card__format">
                                            Pdf
                                        </div>
                                        <svg width="14" height="14" aria-hidden="true">
                                            <use xlink:href="#arrow-right"></use>
                                        </svg>
                                    </div>
                                </a>
                            </li>
                            <li class="certificates__results-list-item">
                                <a href="#" class="certificate-card">
                                    <div class="certificate-card__content">
                                        <h3 class="certificate-card__title">
                                            Лицензия на осуществление деятельности по монтажу, техническому обслуживанию
                                            и ремонту
                                            средств обеспечения пожарной безопасности зданий и сооружений
                                        </h3>
                                        <div class="certificate-card__format">
                                            Pdf
                                        </div>
                                        <svg width="14" height="14" aria-hidden="true">
                                            <use xlink:href="#arrow-right"></use>
                                        </svg>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>