<section class="components">
    <div class="components__content">
        <h2 class="h2 components__heading">
            Состав проекта
        </h2>
        <div class="components__slider">
            <div class="components__slider-wrapper">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="components__slider-card">
                                <div class="components__slider-card-corners">
                                    <div class="top-left-corner"></div>
                                    <div class="top-right-corner"></div>
                                    <div class="bottom-left-corner"></div>
                                    <div class="bottom-right-corner"></div>
                                </div>
                                <h3 class="h4 components__slider-card-title">
                                    Пояснительная часть
                                </h3>
                                <div class="components__slider-card-text">
                                    <p>
                                        В пояснительной части отражается содержание проекта с перечнем листов и общая
                                        сводная таблица характеристик вентиляционных установок.
                                    </p>
                                    <p>
                                        Здесь указываются характеристики оборудования: расход воздуха, давление,
                                        электрическая мощность и добавляется краткое описание систем, для того чтобы
                                        монтажник мог легко сориентироваться в проекте.
                                    </p>
                                </div>
                                <div class="components__slider-card-image-wrapper">
                                    <img src="/images/components/1.webp" alt="" class="components__slider-card-image">
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="components__slider-card">
                                <div class="components__slider-card-corners">
                                    <div class="top-left-corner"></div>
                                    <div class="top-right-corner"></div>
                                    <div class="bottom-left-corner"></div>
                                    <div class="bottom-right-corner"></div>
                                </div>
                                <h3 class="h4 components__slider-card-title">
                                    Планы и схемы систем
                                </h3>
                                <div class="components__slider-card-text">
                                    <p>
                                        Без планов невозможно получить спецификацию, а значит рассчитать точную
                                        стоимость системы вентиляции. Планы систем мы разрабатываем в формате 3D модели
                                        в программе MagiCAD или Revit.
                                    </p>
                                    <p>
                                        Здесь отображаются планы и схемы систем вентиляции и теплоснабжения, а также
                                        узлы крепления воздуховодов. Указываются размеры и трассировка воздуховодов,
                                        марки и размеры вентиляционных решеток и оборудования.
                                    </p>
                                </div>
                                <div class="components__slider-card-image-wrapper">
                                    <img src="/images/components/2.webp" alt="" class="components__slider-card-image">
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="components__slider-card">
                                <div class="components__slider-card-corners">
                                    <div class="top-left-corner"></div>
                                    <div class="top-right-corner"></div>
                                    <div class="bottom-left-corner"></div>
                                    <div class="bottom-right-corner"></div>
                                </div>
                                <h3 class="h4 components__slider-card-title">
                                    Расчетная часть
                                </h3>
                                <div class="components__slider-card-text">
                                    <p>
                                        В пояснительной части отражается содержание проекта с перечнем листов и общая
                                        сводная таблица характеристик вентиляционных установок.
                                    </p>
                                    <p>
                                        Здесь указываются характеристики оборудования: расход воздуха, давление,
                                        электрическая мощность и добавляется краткое описание систем, для того чтобы
                                        монтажник мог легко сориентироваться в проекте.
                                    </p>
                                </div>
                                <div class="components__slider-card-image-wrapper">
                                    <img src="/images/components/3.webp" alt="" class="components__slider-card-image">
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="components__slider-card">
                                <div class="components__slider-card-corners">
                                    <div class="top-left-corner"></div>
                                    <div class="top-right-corner"></div>
                                    <div class="bottom-left-corner"></div>
                                    <div class="bottom-right-corner"></div>
                                </div>
                                <h3 class="h4 components__slider-card-title">
                                    Спецификация
                                </h3>
                                <div class="components__slider-card-text">
                                    <p>
                                        Вы получите сметный расчет стоимости монтажных работ, а также всех составляющих
                                        для установки системы вентиляции.
                                    </p>
                                    <p>
                                        Здесь отражается точное количество материалов и оборудования, которое
                                        понадобятся для монтажа.
                                    </p>
                                </div>
                                <div class="components__slider-card-image-wrapper">
                                    <img src="/images/components/4.webp" alt="" class="components__slider-card-image">
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="components__slider-card">
                                <div class="components__slider-card-corners">
                                    <div class="top-left-corner"></div>
                                    <div class="top-right-corner"></div>
                                    <div class="bottom-left-corner"></div>
                                    <div class="bottom-right-corner"></div>
                                </div>
                                <h3 class="h4 components__slider-card-title">
                                    Пояснительная часть
                                </h3>
                                <div class="components__slider-card-text">
                                    <p>
                                        В пояснительной части отражается содержание проекта с перечнем листов и общая
                                        сводная таблица характеристик вентиляционных установок.
                                    </p>
                                    <p>
                                        Здесь указываются характеристики оборудования: расход воздуха, давление,
                                        электрическая мощность и добавляется краткое описание систем, для того чтобы
                                        монтажник мог легко сориентироваться в проекте.
                                    </p>
                                </div>
                                <div class="components__slider-card-image-wrapper">
                                    <img src="/images/components/1.webp" alt="" class="components__slider-card-image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="components__slider-controls">
                <div class="components__slider-arrows">
                    <div class="slider-arrow slider-arrow--prev">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#slider-arrow-left"></use>
                        </svg>
                    </div>
                    <div class="slider-arrow slider-arrow--next">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#slider-arrow-right"></use>
                        </svg>
                    </div>
                </div>
                <div class="components__slider-pagination">
                    <div class="slider-pagination">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>