<section class="contacts">
    <div class="contacts__content">
        <div class="breadcrumbs">
            <ul class="breadcrumbs__list">
                <li class="breadcrumbs__list-item">
                    <a href="#" class="breadcrumbs__link">
                        Главная
                    </a>
                </li>
                <li class="breadcrumbs__list-item">
                    <a class="breadcrumbs__link active">
                        Контакты
                    </a>
                </li>
            </ul>
        </div>
        <div class="contacts__row">
            <div class="contacts__left-col">
                <h1 class="h1 contacts__heading">
                    Контакты
                </h1>
                <ul class="contacts__list">
                    <li class="contacts__list-item">
                        <div class="contacts__card">
                            <h3 class="contacts__card-key">
                                Телефон:
                            </h3>
                            <a href="tel:+79872860656" class="contacts__card-value">
                                +7 987 286-06-56
                            </a>
                        </div>
                    </li>
                    <li class="contacts__list-item">
                        <div class="contacts__card">
                            <h3 class="contacts__card-key">
                                Режим работы
                            </h3>
                            <div class="contacts__card-value">
                                пн - сб, 09:00-20:00
                            </div>
                        </div>
                    </li>
                    <li class="contacts__list-item">
                        <div class="contacts__card">
                            <h3 class="contacts__card-key">
                                Телефон отдела:
                            </h3>
                            <a href="tel:+79872860656" class="contacts__card-value">
                                +7 987 286-06-56
                            </a>
                        </div>
                    </li>
                    <li class="contacts__list-item">
                        <div class="contacts__card">
                            <h3 class="contacts__card-key">
                                Почта:
                            </h3>
                            <a href="mailto:ab@arctos.pro" class="contacts__card-value">
                                ab@arctos.pro
                            </a>
                        </div>
                    </li>
                    <li class="contacts__list-item">
                        <div class="contacts__card">
                            <h3 class="contacts__card-key">
                                Телефон отдела 2:
                            </h3>
                            <a href="tel:+79872860656" class="contacts__card-value">
                                +7 987 286-06-56
                            </a>
                        </div>
                    </li>
                    <li class="contacts__list-item">
                        <div class="contacts__card">
                            <h3 class="contacts__card-key">
                                Офис:
                            </h3>
                            <div class="contacts__card-value">
                                г. Казань, ул. Маяковского 4
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="contacts__requisites">
                    <p>
                        422&nbsp;850, РТ, Спасский р-н, с. Красная Слобода, ул. Парковая д. 3
                    </p>
                    <p>
                        ООО «АРКТОС»; ИНН 1637008218<br>
                        ОГРН 1171690046252
                    </p>
                </div>
                <a href="#" class="contacts__partner-card">
                    Карта партнера
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#arrow-right">
                        </use>
                    </svg>
                </a>
            </div>
            <div class="contacts__right-col">
                <div class="contacts__map-wrapper" data-lat="54.957371" data-lng="49.257816" data-zoom="16"
                    data-theme-url="/data/customization.json">
                    <div class="contacts__map" id="contacts-map">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>