<footer class="page-footer">
    <div class="page-footer__content">
        <div class="page-footer__top-row">
            <a href="/" class="page-footer__logo">
                <img src="/images/logo.svg" alt="" class="page-footer__logo-image">
            </a>
            <nav class="page-footer__nav">
                <ul class="page-footer__nav-list">
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            Строительство промышленных объектов
                        </a>
                        <ul class="page-footer__nav-submenu-list">
                            <li class="page-footer__nav-submenu-list-item">
                                <a href="#" class="page-footer__nav-submenu-link">
                                    Получение разрешений на строительство
                                </a>
                            </li>
                            <li class="page-footer__nav-submenu-list-item">
                                <a href="#" class="page-footer__nav-submenu-link">
                                    Проектирование
                                </a>
                            </li>
                            <li class="page-footer__nav-submenu-list-item">
                                <a href="#" class="page-footer__nav-submenu-link">
                                    Строительство
                                </a>
                            </li>
                            <li class="page-footer__nav-submenu-list-item">
                                <a href="#" class="page-footer__nav-submenu-link">
                                    Инжиниринг
                                </a>
                            </li>
                            <li class="page-footer__nav-submenu-list-item">
                                <a href="#" class="page-footer__nav-submenu-link">
                                    Введение объекта в эксплуатацию
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            Производство металлоконструкций
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="page-footer__contacts">
                <ul class="page-footer__contacts-list">
                    <li class="page-footer__contacts-list-item">
                        <div class="page-footer__contacts-card">
                            <h3 class="page-footer__contacts-card-key">
                                Телефон:
                            </h3>
                            <a href="tel:+79872860656" class="page-footer__contacts-card-value">
                                +7 987 286-06-56
                            </a>
                        </div>
                    </li>
                    <li class="page-footer__contacts-list-item">
                        <div class="page-footer__contacts-card">
                            <h3 class="page-footer__contacts-card-key">
                                Режим работы
                            </h3>
                            <div class="page-footer__contacts-card-value">
                                пн - сб, 09:00-20:00
                            </div>
                        </div>
                    </li>
                    <li class="page-footer__contacts-list-item">
                        <div class="page-footer__contacts-card">
                            <h3 class="page-footer__contacts-card-key">
                                Почта:
                            </h3>
                            <a href="mailto:ab@arctos.pro" class="page-footer__contacts-card-value">
                                ab@arctos.pro
                            </a>
                        </div>
                    </li>
                </ul>
                <div class="page-footer__requisites">
                    <p>
                        422&nbsp;850, РТ, Спасский р-н, с. Красная Слобода, ул. Парковая д. 3
                    </p>
                    <p>
                        ООО «АРКТОС»; ИНН 1637008218ОГРН 1171690046252
                    </p>
                </div>
            </div>
        </div>
        <div class="page-footer__bottom-row">
            <div class="page-footer__bottom-wrapper">
                <a href="#" class="page-footer__policy">
                    Политика конфиденциальности
                </a>
                <div class="page-footer__copyright">
                    © 2017
                </div>
            </div>
            <a href="#" class="page-footer__made-by">
                Создание и продвижение сайта
                <img src="/images/klatcen.svg" alt="" class="page-footer__made-by-logo">
            </a>
        </div>
    </div>
</footer>