<section class="gallery">
    <div class="gallery__content">
        <h2 class="h2 gallery__heading">
            Воплощенные решения
        </h2>
        <div class="gallery__slider">
            <div class="gallery__slider-wrapper">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="/images/gallery/1.webp" class="gallery__slider-card" data-fancybox="gallery">
                                <div class="gallery__slider-card-image-container">
                                    <img src="/images/gallery/1.webp" alt="" class="gallery__slider-card-image">
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="/images/gallery/2.webp" class="gallery__slider-card" data-fancybox="gallery">
                                <div class="gallery__slider-card-image-container">
                                    <img src="/images/gallery/2.webp" alt="" class="gallery__slider-card-image">
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="/images/gallery/1.webp" class="gallery__slider-card" data-fancybox="gallery">
                                <div class="gallery__slider-card-image-container">
                                    <img src="/images/gallery/1.webp" alt="" class="gallery__slider-card-image">
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="/images/gallery/2.webp" class="gallery__slider-card" data-fancybox="gallery">
                                <div class="gallery__slider-card-image-container">
                                    <img src="/images/gallery/2.webp" alt="" class="gallery__slider-card-image">
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gallery__slider-controls">
                <div class="gallery__slider-arrows">
                    <div class="slider-arrow slider-arrow--prev">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#slider-arrow-left"></use>
                        </svg>
                    </div>
                    <div class="slider-arrow slider-arrow--next">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#slider-arrow-right"></use>
                        </svg>
                    </div>
                </div>
                <div class="gallery__slider-pagination">
                    <div class="slider-pagination">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>