<section class="geography">
    <div class="geography__content">
        <div class="geography__left-col">
            <h2 class="h2 geography__heading">
                География выполненных проектов
            </h2>
            <div class="geography__count">
                35
                <span>
                    +
                </span>
            </div>
            <ul class="geography__list">
                <li class="geography__list-item">
                    <div class="geography__card">
                        <h3 class="geography__card-city">
                            Казань
                        </h3>
                        <div class="geography__card-text">
                            <p>
                                ГКУ «Главинвестстрой РТ»
                            </p>
                            <p>
                                «МЕГАСТРОЙ»
                            </p>
                            <p>
                                «Коттон Вэй»
                            </p>
                        </div>
                    </div>
                </li>
                <li class="geography__list-item">
                    <div class="geography__card">
                        <h3 class="geography__card-city">
                            Уфа
                        </h3>
                        <div class="geography__card-text">
                            <p>
                                Максидом
                            </p>
                            <p>
                                АО «БТК-групп»
                            </p>
                        </div>
                    </div>
                </li>
                <li class="geography__list-item">
                    <div class="geography__card">
                        <h3 class="geography__card-city">
                            Иннополис
                        </h3>
                        <div class="geography__card-text">
                            <p>
                                АО «Мосводоканал»
                            </p>

                        </div>
                    </div>
                </li>
                <li class="geography__list-item">
                    <div class="geography__card">
                        <h3 class="geography__card-city">
                            Калуга
                        </h3>
                        <div class="geography__card-text">
                            <p>
                                АО «Мосводоканал»
                            </p>

                        </div>
                    </div>
                </li>
                <li class="geography__list-item">
                    <div class="geography__card">
                        <h3 class="geography__card-city">
                            Альметьевск
                        </h3>
                        <div class="geography__card-text">
                            <p>
                                АО «Мосводоканал»
                            </p>

                        </div>
                    </div>
                </li>
                <li class="geography__list-item">
                    <div class="geography__card">
                        <h3 class="geography__card-city">
                            Зеленоград
                        </h3>
                        <div class="geography__card-text">
                            <p>
                                АО «Мосводоканал»
                            </p>
                        </div>
                    </div>
                </li>
                <li class="geography__list-item">
                    <div class="geography__card">
                        <h3 class="geography__card-city">
                            Нижнекамск
                        </h3>
                        <div class="geography__card-text">
                            <p>
                                АО «Мосводоканал»
                            </p>
                        </div>
                    </div>
                </li>
                <li class="geography__list-item">
                    <div class="geography__card">
                        <h3 class="geography__card-city">
                            Шахты, Ростовская обл
                        </h3>
                        <div class="geography__card-text">
                            <p>
                                АО «Мосводоканал»
                            </p>
                        </div>
                    </div>
                </li>
                <li class="geography__list-item">
                    <div class="geography__card">
                        <h3 class="geography__card-city">
                            Санкт-Петербург
                        </h3>
                        <div class="geography__card-text">
                            <p>
                                АО «Мосводоканал»
                            </p>
                        </div>
                    </div>
                </li>
                <li class="geography__list-item">
                    <div class="geography__card">
                        <h3 class="geography__card-city">
                            Москва
                        </h3>
                        <div class="geography__card-text">
                            <p>
                                АО «Мосводоканал»
                            </p>
                        </div>
                    </div>
                </li>
                <li class="geography__list-item">
                    <div class="geography__card">
                        <h3 class="geography__card-city">
                            Лаишевский район,<br> респ. Татарстан
                        </h3>
                        <div class="geography__card-text">
                            <p>
                                АО «Мосводоканал»
                            </p>
                        </div>
                    </div>
                </li>
                <li class="geography__list-item">
                    <div class="geography__card">
                        <h3 class="geography__card-city">
                            Ульяновск
                        </h3>
                        <div class="geography__card-text">
                            <p>
                                АО «Мосводоканал»
                            </p>
                        </div>
                    </div>
                </li>
                <li class="geography__list-item">
                    <div class="geography__card">
                        <h3 class="geography__card-city">
                            Пермь
                        </h3>
                        <div class="geography__card-text">
                            <p>
                                АО «Мосводоканал»
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="geography__right-col">
            <div class="geography__map-wrapper">
                <img src="/images/map.webp" alt="" class="geography__map">
            </div>
        </div>

    </div>
</section>