<header class="page-header page-header--fixed">
    <div class="page-header__outer-wrapper">
        <a href="/" class="page-header__logo page-header__logo--only-mobile">
            <img src="/images/logo.svg" alt="" class="page-header__logo-image">
        </a>
        <div class="page-header__menu">
            <div class="page-header__menu-inner">



                <div class="page-header__top">
                    <div class="page-header__top-content">
                        <a href="/" class="page-header__logo">
                            <img src="/images/logo.svg" alt="" class="page-header__logo-image">
                        </a>
                        <div class="page-header__contacts">
                            <ul class="page-header__contacts-list">
                                <li class="page-header__contacts-list-item">
                                    <a href="tel:+79872860656" class="page-header__contacts-card">
                                        <svg width="14" height="14" aria-hidden="true">
                                            <use xlink:href="#phone"></use>
                                        </svg>
                                        <div class="page-header__contacts-card-content">
                                            <h3 class="page-header__contacts-card-title">
                                                +7 987 286-06-56
                                            </h3>
                                            <div class="page-header__contacts-card-text">
                                                пн - сб, 09:00-20:00
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="page-header__contacts-list-item">
                                    <a href="mailto:ab@arctos.pro" class="page-header__contacts-card">
                                        <svg width="14" height="14" aria-hidden="true">
                                            <use xlink:href="#mail"></use>
                                        </svg>
                                        <div class="page-header__contacts-card-content">
                                            <h3 class="page-header__contacts-card-title">
                                                ab@arctos.pro
                                            </h3>

                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="page-header__social">
                            <ul class="page-header__social-list">
                                <li class="page-header__social-list-item">
                                    <a href="#" class="page-header__social-link">
                                        <svg width="14" height="14" aria-hidden="true">
                                            <use xlink:href="#whatsapp"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li class="page-header__social-list-item">
                                    <a href="#" class="page-header__social-link">
                                        <svg width="14" height="14" aria-hidden="true">
                                            <use xlink:href="#telegram"></use>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <a href="#callback-modal" class="btn page-header__callback-btn">
                            Оставить заявку
                        </a>
                    </div>
                </div>
                <div class="page-header__bottom">
                    <div class="page-header__bottom-content">
                        <nav class="page-header__nav">
                            <ul class="page-header__nav-list">
                                <li class="page-header__nav-list-item">
                                    <a href="#" class="page-header__nav-link">
                                        Услуги
                                        <svg width="14" height="14" aria-hidden="true">
                                            <use xlink:href="#menu-arrow"></use>
                                        </svg>
                                    </a>
                                    <div class="page-header__submenu js-tabs">
                                        <div class="page-header__submenu-inner">
                                            <button class="page-header__submenu-back" type="button">
                                                <svg width="14" height="14" aria-hidden="true">
                                                    <use xlink:href="#small-arrow-left"></use>
                                                </svg>
                                                Назад
                                            </button>
                                            <div class="page-header__submenu-nav">
                                                <div class="tabs-nav">
                                                    <ul class="tabs-nav__list">
                                                        <li class="tabs-nav__list-item">
                                                            <button class="tab-btn js-tabs-btn active">
                                                                Строительство
                                                            </button>
                                                        </li>
                                                        <li class="tabs-nav__list-item">
                                                            <button class="tab-btn js-tabs-btn">
                                                                Производство
                                                            </button>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="page-header__submenu-tabs">
                                                <div class="tab-items">
                                                    <div class="tab-items__item js-tabs-item active">
                                                        <div class="page-header__submenu-tab">
                                                            <div class="page-header__submenu-left-wrapper">
                                                                <a href="#" class="page-header__submenu-top-level-link">
                                                                    Строительство промышленных объектов
                                                                </a>
                                                                <ul class="page-header__submenu-list">
                                                                    <li class="page-header__submenu-list-item">
                                                                        <a href="#" class="page-header__submenu-link">
                                                                            Получение разрешений на строительство
                                                                        </a>
                                                                    </li>
                                                                    <li class="page-header__submenu-list-item">
                                                                        <a href="#" class="page-header__submenu-link">
                                                                            Проектирование
                                                                        </a>
                                                                    </li>
                                                                    <li class="page-header__submenu-list-item">
                                                                        <a href="#" class="page-header__submenu-link">
                                                                            Строительство
                                                                        </a>
                                                                    </li>
                                                                    <li class="page-header__submenu-list-item">
                                                                        <a href="#" class="page-header__submenu-link">
                                                                            Инжиниринг
                                                                            <svg width="14" height="14"
                                                                                aria-hidden="true">
                                                                                <use xlink:href="#small-arrow-right">
                                                                                </use>
                                                                            </svg>
                                                                        </a>
                                                                        <div class="page-header__submenu-second-level">
                                                                            <div
                                                                                class="page-header__submenu-second-level-content">
                                                                                <ul
                                                                                    class="page-header__submenu-second-level-list">
                                                                                    <li
                                                                                        class="page-header__submenu-second-level-list-item">
                                                                                        <a href="#"
                                                                                            class="page-header__submenu-second-level-link">
                                                                                            Системы водоснабжения

                                                                                        </a>
                                                                                    </li>
                                                                                    <li
                                                                                        class="page-header__submenu-second-level-list-item">
                                                                                        <a href="#"
                                                                                            class="page-header__submenu-second-level-link">
                                                                                            Системы водоотведения

                                                                                        </a>
                                                                                    </li>
                                                                                    <li
                                                                                        class="page-header__submenu-second-level-list-item">
                                                                                        <a href="#"
                                                                                            class="page-header__submenu-second-level-link"
                                                                                            data-id="1">
                                                                                            Системы пожаротушения
                                                                                            <svg width="14" height="14"
                                                                                                aria-hidden="true">
                                                                                                <use
                                                                                                    xlink:href="#small-arrow-right">
                                                                                                </use>
                                                                                            </svg>
                                                                                        </a>
                                                                                    </li>
                                                                                    <li
                                                                                        class="page-header__submenu-second-level-list-item">
                                                                                        <a href="#"
                                                                                            class="page-header__submenu-second-level-link">
                                                                                            Пароконденсатные системы

                                                                                        </a>
                                                                                    </li>
                                                                                    <li
                                                                                        class="page-header__submenu-second-level-list-item">
                                                                                        <a href="#"
                                                                                            class="page-header__submenu-second-level-link">
                                                                                            Системы вентиляциия

                                                                                        </a>
                                                                                    </li>
                                                                                    <li
                                                                                        class="page-header__submenu-second-level-list-item">
                                                                                        <a href="#"
                                                                                            class="page-header__submenu-second-level-link">
                                                                                            Системы отопления

                                                                                        </a>
                                                                                    </li>
                                                                                    <li
                                                                                        class="page-header__submenu-second-level-list-item">
                                                                                        <a href="#"
                                                                                            class="page-header__submenu-second-level-link">
                                                                                            Системы кондиционирования

                                                                                        </a>
                                                                                    </li>
                                                                                    <li
                                                                                        class="page-header__submenu-second-level-list-item">
                                                                                        <a href="#"
                                                                                            class="page-header__submenu-second-level-link">
                                                                                            Индивидуальные тепловых
                                                                                            пункт

                                                                                        </a>
                                                                                    </li>
                                                                                    <li
                                                                                        class="page-header__submenu-second-level-list-item">
                                                                                        <a href="#"
                                                                                            class="page-header__submenu-second-level-link">
                                                                                            СКУД

                                                                                        </a>
                                                                                    </li>
                                                                                    <li
                                                                                        class="page-header__submenu-second-level-list-item">
                                                                                        <a href="#"
                                                                                            class="page-header__submenu-second-level-link">
                                                                                            Спец системы пожаротушения

                                                                                        </a>
                                                                                    </li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                    </li>
                                                                    <li class="page-header__submenu-list-item">
                                                                        <a href="#" class="page-header__submenu-link">
                                                                            Введение объекта в эксплуатацию

                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="page-header__submenu-right-wrapper">
                                                                <div class="page-header__third-level-submenu"
                                                                    data-id="1">
                                                                    <div class="page-header__third-level-submenu-inner">
                                                                        <ul
                                                                            class="page-header__third-level-submenu-list">
                                                                            <li
                                                                                class="page-header__third-level-submenu-list-item">
                                                                                <a href="#"
                                                                                    class="page-header__third-level-submenu-link">
                                                                                    Проектирование
                                                                                </a>
                                                                            </li>
                                                                            <li
                                                                                class="page-header__third-level-submenu-list-item">
                                                                                <a href="#"
                                                                                    class="page-header__third-level-submenu-link">
                                                                                    Монтаж
                                                                                </a>
                                                                            </li>
                                                                            <li
                                                                                class="page-header__third-level-submenu-list-item">
                                                                                <a href="#"
                                                                                    class="page-header__third-level-submenu-link">
                                                                                    Обслуживание
                                                                                </a>
                                                                            </li>
                                                                            <li
                                                                                class="page-header__third-level-submenu-list-item">
                                                                                <a href="#"
                                                                                    class="page-header__third-level-submenu-link">
                                                                                    Ремонт
                                                                                </a>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="tab-items__item js-tabs-item">
                                                        <div class="page-header__submenu-tab">
                                                            <div class="page-header__submenu-left-wrapper">
                                                                <a href="#" class="page-header__submenu-top-level-link">
                                                                    Строительство промышленных объектов
                                                                </a>
                                                                <ul class="page-header__submenu-list">
                                                                    <li class="page-header__submenu-list-item">
                                                                        <a href="#" class="page-header__submenu-link">
                                                                            Получение разрешений на строительство
                                                                        </a>
                                                                    </li>
                                                                    <li class="page-header__submenu-list-item">
                                                                        <a href="#" class="page-header__submenu-link">
                                                                            Проектирование
                                                                        </a>
                                                                    </li>
                                                                    <li class="page-header__submenu-list-item">
                                                                        <a href="#" class="page-header__submenu-link">
                                                                            Строительство
                                                                        </a>
                                                                    </li>
                                                                    <li class="page-header__submenu-list-item">
                                                                        <a href="#" class="page-header__submenu-link">
                                                                            Инжиниринг
                                                                            <svg width="14" height="14"
                                                                                aria-hidden="true">
                                                                                <use xlink:href="#small-arrow-right">
                                                                                </use>
                                                                            </svg>
                                                                        </a>
                                                                        <div class="page-header__submenu-second-level">
                                                                            <div
                                                                                class="page-header__submenu-second-level-content">
                                                                                <ul
                                                                                    class="page-header__submenu-second-level-list">
                                                                                    <li
                                                                                        class="page-header__submenu-second-level-list-item">
                                                                                        <a href="#"
                                                                                            class="page-header__submenu-second-level-link">
                                                                                            Системы водоснабжения

                                                                                        </a>
                                                                                    </li>
                                                                                    <li
                                                                                        class="page-header__submenu-second-level-list-item">
                                                                                        <a href="#"
                                                                                            class="page-header__submenu-second-level-link">
                                                                                            Системы водоотведения

                                                                                        </a>
                                                                                    </li>
                                                                                    <li
                                                                                        class="page-header__submenu-second-level-list-item">
                                                                                        <a href="#"
                                                                                            class="page-header__submenu-second-level-link"
                                                                                            data-id="1">
                                                                                            Системы пожаротушения
                                                                                            <svg width="14" height="14"
                                                                                                aria-hidden="true">
                                                                                                <use
                                                                                                    xlink:href="#small-arrow-right">
                                                                                                </use>
                                                                                            </svg>
                                                                                        </a>
                                                                                    </li>
                                                                                    <li
                                                                                        class="page-header__submenu-second-level-list-item">
                                                                                        <a href="#"
                                                                                            class="page-header__submenu-second-level-link">
                                                                                            Пароконденсатные системы

                                                                                        </a>
                                                                                    </li>
                                                                                    <li
                                                                                        class="page-header__submenu-second-level-list-item">
                                                                                        <a href="#"
                                                                                            class="page-header__submenu-second-level-link">
                                                                                            Системы вентиляциия

                                                                                        </a>
                                                                                    </li>
                                                                                    <li
                                                                                        class="page-header__submenu-second-level-list-item">
                                                                                        <a href="#"
                                                                                            class="page-header__submenu-second-level-link">
                                                                                            Системы отопления

                                                                                        </a>
                                                                                    </li>
                                                                                    <li
                                                                                        class="page-header__submenu-second-level-list-item">
                                                                                        <a href="#"
                                                                                            class="page-header__submenu-second-level-link">
                                                                                            Системы кондиционирования

                                                                                        </a>
                                                                                    </li>
                                                                                    <li
                                                                                        class="page-header__submenu-second-level-list-item">
                                                                                        <a href="#"
                                                                                            class="page-header__submenu-second-level-link">
                                                                                            Индивидуальные тепловых
                                                                                            пункт

                                                                                        </a>
                                                                                    </li>
                                                                                    <li
                                                                                        class="page-header__submenu-second-level-list-item">
                                                                                        <a href="#"
                                                                                            class="page-header__submenu-second-level-link">
                                                                                            СКУД

                                                                                        </a>
                                                                                    </li>
                                                                                    <li
                                                                                        class="page-header__submenu-second-level-list-item">
                                                                                        <a href="#"
                                                                                            class="page-header__submenu-second-level-link">
                                                                                            Спец системы пожаротушения

                                                                                        </a>
                                                                                    </li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                    </li>
                                                                    <li class="page-header__submenu-list-item">
                                                                        <a href="#" class="page-header__submenu-link">
                                                                            Введение объекта в эксплуатацию

                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="page-header__submenu-right-wrapper">
                                                                <div class="page-header__third-level-submenu"
                                                                    data-id="1">
                                                                    <div class="page-header__third-level-submenu-inner">
                                                                        <ul
                                                                            class="page-header__third-level-submenu-list">
                                                                            <li
                                                                                class="page-header__third-level-submenu-list-item">
                                                                                <a href="#"
                                                                                    class="page-header__third-level-submenu-link">
                                                                                    Проектирование
                                                                                </a>
                                                                            </li>
                                                                            <li
                                                                                class="page-header__third-level-submenu-list-item">
                                                                                <a href="#"
                                                                                    class="page-header__third-level-submenu-link">
                                                                                    Монтаж
                                                                                </a>
                                                                            </li>
                                                                            <li
                                                                                class="page-header__third-level-submenu-list-item">
                                                                                <a href="#"
                                                                                    class="page-header__third-level-submenu-link">
                                                                                    Обслуживание
                                                                                </a>
                                                                            </li>
                                                                            <li
                                                                                class="page-header__third-level-submenu-list-item">
                                                                                <a href="#"
                                                                                    class="page-header__third-level-submenu-link">
                                                                                    Ремонт
                                                                                </a>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="page-header__nav-list-item">
                                    <a href="#" class="page-header__nav-link">
                                        Выполненные проекты
                                    </a>
                                </li>
                                <li class="page-header__nav-list-item">
                                    <a href="#" class="page-header__nav-link">
                                        Сертификаты
                                    </a>
                                </li>
                                <li class="page-header__nav-list-item">
                                    <a href="#" class="page-header__nav-link">
                                        О компании
                                    </a>
                                </li>
                                <li class="page-header__nav-list-item">
                                    <a href="#" class="page-header__nav-link">
                                        Специалисты
                                    </a>
                                </li>
                                <li class="page-header__nav-list-item">
                                    <a href="#" class="page-header__nav-link">
                                        Контакты
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        <div class="page-header__search">
                            <button class="page-header__search-btn">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#search"></use>
                                </svg>
                            </button>
                            <div class="page-header__search-dropdown">
                                <form action="/" method="GET" class="page-header__search-form">
                                    <input type="search" class="page-header__search-input" name="q"
                                        placeholder="Введите текст">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="page-header__burger">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>
</header>
<div class="scroll-up">
    <div class="scroll-up__inner">
        <button class="scroll-up__btn">
            <svg width="14" height="14" aria-hidden="true">
                <use xlink:href="#scroll-up"></use>
            </svg>
        </button>
    </div>
</div>