<section class="intro">
    <div class="intro__top">
        <div class="intro__top-content">
            <h1 class="h1 intro__heading">
                Инженерные системы от разработки проекта
                до запуска в эксплуатацию
            </h1>
            <ul class="intro__list">
                <li class="intro__list-item">
                    <div class="intro__card">
                        <div class="intro__card-corners">
                            <div class="top-left-corner"></div>
                            <div class="top-right-corner"></div>
                            <div class="bottom-left-corner"></div>
                            <div class="bottom-right-corner"></div>
                        </div>
                        Выполняем работы<br> по всей России
                    </div>
                </li>
                <li class="intro__list-item">
                    <div class="intro__card">
                        <div class="intro__card-corners">
                            <div class="top-left-corner"></div>
                            <div class="top-right-corner"></div>
                            <div class="bottom-left-corner"></div>
                            <div class="bottom-right-corner"></div>
                        </div>
                        Полный комплекс услуг<br> «под ключ» в одной компании
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="intro__image-wrapper">
        <picture>
            <source srcset="/images/intro-mobile.webp" media="(max-width: 640px)" />
            <img src="/images/intro.webp" alt="MDN" class="intro__image" />
        </picture>
    </div>
</section>