<div class="modal js-modal" id="callback-modal">
    <div class="modal__inner">
        <button class="modal__close js-modal-close">
            <svg width="14" height="14" aria-hidden="true">
                <use xlink:href="#modal-close"></use>
            </svg>
        </button>
        {{> callback-form }}
    </div>
</div>
<div class="modal js-modal" id="success-modal">
    <div class="modal__inner modal__inner--success">
        <button class="modal__close js-modal-close">
            <svg width="14" height="14" aria-hidden="true">
                <use xlink:href="#modal-close"></use>
            </svg>
        </button>
        <div class="modal__success">
            <h3 class="h2 modal__success-heading">
                Спасибо! Ваша заявка отправлена
            </h3>
            <div class="modal__success-text">
                Наш менеджер свяжется с вами!
            </div>
        </div>
    </div>
</div>

<div class="modal js-modal" id="review-modal">
    <div class="modal__inner">
        <button class="modal__close js-modal-close">
            <svg width="14" height="14" aria-hidden="true">
                <use xlink:href="#modal-close"></use>
            </svg>
        </button>
        <div class="modal__review">
            <div class="modal__review-text-content">
                <h3 class="h2 modal__review-heading">
                    Татнефть
                </h3>
                <div class="text-content modal__review-text">
                    Расшифровка благодарственного письма. Текст-заполнитель — это текст, который имеет некоторые
                    характеристики реального письменного текста, но является случайным набором слов или сгенерирован
                    иным образом. Его можно использовать для отображения образца шрифтов, создания текста для
                    тестирования или обхода спам-фильтра.
                    Расшифровка благодарственного письма. Текст-заполнитель — это текст, который имеет некоторые
                    характеристики реального письменного текста, но является случайным набором слов или сгенерирован
                    иным образом. Его можно использовать для отображения образца шрифтов, создания текста для
                    тестирования или обхода спам-фильтра.
                </div>
            </div>
            <div class="modal__review-image-wrapper">
                <img src="/images/modal-review.webp" alt="" class="modal__review-image">
            </div>
        </div>
    </div>
</div>