<section class="not-found">
    <div class="not-found__content">
        <div class="breadcrumbs">
            <ul class="breadcrumbs__list">
                <li class="breadcrumbs__list-item">
                    <a href="#" class="breadcrumbs__link">
                        Главная
                    </a>
                </li>
                <li class="breadcrumbs__list-item">
                    <a class="breadcrumbs__link active">
                        Страница не найдена
                    </a>
                </li>
            </ul>
        </div>
        <div class="not-found__row">
            <div class="not-found__text-content">
                <div class="not-found__code">
                    404
                </div>
                <h1 class="h5 not-found__heading">
                    Страница не найдена
                </h1>
                <a href="#" class="btn not-found__link">
                    на главную
                </a>
            </div>
            <div class="not-found__image-wrapper">
                <img src="/images/404.svg" alt="" class="not-found__image">
            </div>
        </div>
    </div>
</section>