<section class="objects">
    <div class="objects__content">
        <h2 class="h2 objects__heading">
            С какими объектами работаем
        </h2>
        <div class="objects__text">
            Мы разрабатываем инженерные системы для различных областей, включая медицину, образование, промышленность и
            многие другие. Наша продукция обеспечивает надежные решения, которые способствуют эффективной работе
            предприятий и учреждений.
        </div>
        <ul class="objects__list">
            <li class="objects__list-item">
                <div class="objects__card">
                    <div class="objects__card-icon-wrapper">
                        <div class="top-left-corner"></div>
                        <div class="top-right-corner"></div>
                        <div class="bottom-left-corner"></div>
                        <div class="bottom-right-corner"></div>
                        <img src="/images/objects/1.svg" alt="" class="objects__card-icon">
                    </div>
                    <h3 class="objects__card-title">
                        Государственные учреждения
                    </h3>
                </div>
            </li>
            <li class="objects__list-item">
                <div class="objects__card">
                    <div class="objects__card-icon-wrapper">
                        <div class="top-left-corner"></div>
                        <div class="top-right-corner"></div>
                        <div class="bottom-left-corner"></div>
                        <div class="bottom-right-corner"></div>
                        <img src="/images/objects/2.svg" alt="" class="objects__card-icon">
                    </div>
                    <h3 class="objects__card-title">
                        Медицинские учреждения
                    </h3>
                </div>
            </li>
            <li class="objects__list-item">
                <div class="objects__card">
                    <div class="objects__card-icon-wrapper">
                        <div class="top-left-corner"></div>
                        <div class="top-right-corner"></div>
                        <div class="bottom-left-corner"></div>
                        <div class="bottom-right-corner"></div>
                        <img src="/images/objects/3.svg" alt="" class="objects__card-icon">
                    </div>
                    <h3 class="objects__card-title">
                        Образовательные учреждения
                    </h3>
                </div>
            </li>
            <li class="objects__list-item">
                <div class="objects__card">
                    <div class="objects__card-icon-wrapper">
                        <div class="top-left-corner"></div>
                        <div class="top-right-corner"></div>
                        <div class="bottom-left-corner"></div>
                        <div class="bottom-right-corner"></div>
                        <img src="/images/objects/4.svg" alt="" class="objects__card-icon">
                    </div>
                    <h3 class="objects__card-title">
                        Государственные учреждения
                    </h3>
                </div>
            </li>
            <li class="objects__list-item">
                <div class="objects__card">
                    <div class="objects__card-icon-wrapper">
                        <div class="top-left-corner"></div>
                        <div class="top-right-corner"></div>
                        <div class="bottom-left-corner"></div>
                        <div class="bottom-right-corner"></div>
                        <img src="/images/objects/2.svg" alt="" class="objects__card-icon">
                    </div>
                    <h3 class="objects__card-title">
                        Медицинские учреждения
                    </h3>
                </div>
            </li>
            <li class="objects__list-item">
                <div class="objects__card">
                    <div class="objects__card-icon-wrapper">
                        <div class="top-left-corner"></div>
                        <div class="top-right-corner"></div>
                        <div class="bottom-left-corner"></div>
                        <div class="bottom-right-corner"></div>
                        <img src="/images/objects/3.svg" alt="" class="objects__card-icon">
                    </div>
                    <h3 class="objects__card-title">
                        Образовательные учреждения
                    </h3>
                </div>
            </li>
            <li class="objects__list-item">
                <div class="objects__card">
                    <div class="objects__card-icon-wrapper">
                        <div class="top-left-corner"></div>
                        <div class="top-right-corner"></div>
                        <div class="bottom-left-corner"></div>
                        <div class="bottom-right-corner"></div>
                        <img src="/images/objects/1.svg" alt="" class="objects__card-icon">
                    </div>
                    <h3 class="objects__card-title">
                        Государственные учреждения
                    </h3>
                </div>
            </li>
        </ul>
    </div>
</section>