<section class="our-team">
    <div class="our-team__content">
        <h2 class="h2 our-team__heading">
            Наша команда
        </h2>
        <div class="our-team__slider">
            <div class="our-team__slider-wrapper">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="#" class="team-card">
                                <div class="team-card__photo">
                                    <div class="team-card__photo-corners">
                                        <div class="top-left-corner"></div>
                                        <div class="top-right-corner"></div>
                                        <div class="bottom-left-corner"></div>
                                        <div class="bottom-right-corner"></div>
                                    </div>
                                    <div class="team-card__photo-container">
                                        <img src="/images/team/1.webp" alt="" class="team-card__photo-image">
                                    </div>
                                </div>
                                <div class="team-card__content">
                                    <h4 class="h4 team-card__title">
                                        Имя Фамилия
                                    </h4>
                                    <div class="team-card__role">
                                        Должность
                                    </div>
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="team-card">
                                <div class="team-card__photo">
                                    <div class="team-card__photo-corners">
                                        <div class="top-left-corner"></div>
                                        <div class="top-right-corner"></div>
                                        <div class="bottom-left-corner"></div>
                                        <div class="bottom-right-corner"></div>
                                    </div>
                                    <div class="team-card__photo-container">
                                        <img src="/images/team/2.webp" alt="" class="team-card__photo-image">
                                    </div>
                                </div>
                                <div class="team-card__content">
                                    <h4 class="h4 team-card__title">
                                        Имя Фамилия
                                    </h4>
                                    <div class="team-card__role">
                                        Должность
                                    </div>
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="team-card">
                                <div class="team-card__photo">
                                    <div class="team-card__photo-corners">
                                        <div class="top-left-corner"></div>
                                        <div class="top-right-corner"></div>
                                        <div class="bottom-left-corner"></div>
                                        <div class="bottom-right-corner"></div>
                                    </div>
                                    <div class="team-card__photo-container">
                                        <img src="/images/team/3.webp" alt="" class="team-card__photo-image">
                                    </div>
                                </div>
                                <div class="team-card__content">
                                    <h4 class="h4 team-card__title">
                                        Имя Фамилия
                                    </h4>
                                    <div class="team-card__role">
                                        Должность
                                    </div>
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="team-card">
                                <div class="team-card__photo">
                                    <div class="team-card__photo-corners">
                                        <div class="top-left-corner"></div>
                                        <div class="top-right-corner"></div>
                                        <div class="bottom-left-corner"></div>
                                        <div class="bottom-right-corner"></div>
                                    </div>
                                    <div class="team-card__photo-container">
                                        <img src="/images/team/4.webp" alt="" class="team-card__photo-image">
                                    </div>
                                </div>
                                <div class="team-card__content">
                                    <h4 class="h4 team-card__title">
                                        Имя Фамилия
                                    </h4>
                                    <div class="team-card__role">
                                        Должность
                                    </div>
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="team-card">
                                <div class="team-card__photo">
                                    <div class="team-card__photo-corners">
                                        <div class="top-left-corner"></div>
                                        <div class="top-right-corner"></div>
                                        <div class="bottom-left-corner"></div>
                                        <div class="bottom-right-corner"></div>
                                    </div>
                                    <div class="team-card__photo-container">
                                        <img src="/images/team/1.webp" alt="" class="team-card__photo-image">
                                    </div>
                                </div>
                                <div class="team-card__content">
                                    <h4 class="h4 team-card__title">
                                        Имя Фамилия
                                    </h4>
                                    <div class="team-card__role">
                                        Должность
                                    </div>
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="team-card">
                                <div class="team-card__photo">
                                    <div class="team-card__photo-corners">
                                        <div class="top-left-corner"></div>
                                        <div class="top-right-corner"></div>
                                        <div class="bottom-left-corner"></div>
                                        <div class="bottom-right-corner"></div>
                                    </div>
                                    <div class="team-card__photo-container">
                                        <img src="/images/team/2.webp" alt="" class="team-card__photo-image">
                                    </div>
                                </div>
                                <div class="team-card__content">
                                    <h4 class="h4 team-card__title">
                                        Имя Фамилия
                                    </h4>
                                    <div class="team-card__role">
                                        Должность
                                    </div>
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="team-card">
                                <div class="team-card__photo">
                                    <div class="team-card__photo-corners">
                                        <div class="top-left-corner"></div>
                                        <div class="top-right-corner"></div>
                                        <div class="bottom-left-corner"></div>
                                        <div class="bottom-right-corner"></div>
                                    </div>
                                    <div class="team-card__photo-container">
                                        <img src="/images/team/3.webp" alt="" class="team-card__photo-image">
                                    </div>
                                </div>
                                <div class="team-card__content">
                                    <h4 class="h4 team-card__title">
                                        Имя Фамилия
                                    </h4>
                                    <div class="team-card__role">
                                        Должность
                                    </div>
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="team-card">
                                <div class="team-card__photo">
                                    <div class="team-card__photo-corners">
                                        <div class="top-left-corner"></div>
                                        <div class="top-right-corner"></div>
                                        <div class="bottom-left-corner"></div>
                                        <div class="bottom-right-corner"></div>
                                    </div>
                                    <div class="team-card__photo-container">
                                        <img src="/images/team/4.webp" alt="" class="team-card__photo-image">
                                    </div>
                                </div>
                                <div class="team-card__content">
                                    <h4 class="h4 team-card__title">
                                        Имя Фамилия
                                    </h4>
                                    <div class="team-card__role">
                                        Должность
                                    </div>
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="our-team__slider-controls">
                <div class="our-team__slider-arrows">
                    <div class="slider-arrow slider-arrow--prev">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#slider-arrow-left"></use>
                        </svg>
                    </div>
                    <div class="slider-arrow slider-arrow--next">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#slider-arrow-right"></use>
                        </svg>
                    </div>
                </div>
                <div class="our-team__slider-pagination">
                    <div class="slider-pagination">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>