<section class="realised-projects">
    <div class="realised-projects__content">
        <div class="realised-projects__top-row">
            <h2 class="h2 realised-projects__heading">
                Принимал участие в проектах:
            </h2>
            <a href="#" class="btn realised-projects__link">
                смотреть все
            </a>
        </div>
        <div class="realised-projects__slider">
            <div class="realised-projects__slider-wrapper">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="#" class="project-card">
                                <div class="project-card__bg">
                                    <div class="project-card__placeholder">
                                        <img src="/images/projects/placeholder.webp" alt=""
                                            class="project-card__placeholder-image">
                                    </div>
                                    <div class="project-card__preview-wrapper">
                                        <img src="/images/projects/1-preview.webp" alt=""
                                            class="project-card__preview-image">
                                    </div>
                                </div>
                                <div class="project-card__content">
                                    <div class="project-card__top-row">
                                        <div class="project-card__company">
                                            Заказчик: ПАО «Газпром»
                                        </div>
                                    </div>
                                    <h4 class="h4 project-card__title">
                                        МФЦ Лахта Центр, г. Санкт-Петербург, проектирование, монтаж системы
                                        пожаротушения ТРВ ВД
                                    </h4>
                                    <ul class="project-card__tags-list">
                                        <li class="project-card__tags-list-item">
                                            <div class="project-card__tag">
                                                Монтаж
                                            </div>
                                        </li>
                                        <li class="project-card__tags-list-item">
                                            <div class="project-card__tag">
                                                Автоматизация
                                            </div>
                                        </li>
                                    </ul>
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="project-card">
                                <div class="project-card__bg">
                                    <div class="project-card__placeholder">
                                        <img src="/images/projects/placeholder.webp" alt=""
                                            class="project-card__placeholder-image">
                                    </div>
                                    <div class="project-card__preview-wrapper">
                                        <img src="/images/projects/2-preview.webp" alt=""
                                            class="project-card__preview-image">
                                    </div>
                                </div>
                                <div class="project-card__content">
                                    <div class="project-card__top-row">
                                        <div class="project-card__company">
                                            Заказчик: ПАО «Газпром»
                                        </div>
                                    </div>
                                    <h4 class="h4 project-card__title">
                                        Строительство нового здания «Татарского
                                        государственного академического театра
                                        имени Галиаскара Камала», г. Казань
                                    </h4>
                                    <ul class="project-card__tags-list">
                                        <li class="project-card__tags-list-item">
                                            <div class="project-card__tag">
                                                Монтаж
                                            </div>
                                        </li>
                                        <li class="project-card__tags-list-item">
                                            <div class="project-card__tag">
                                                Автоматизация
                                            </div>
                                        </li>
                                        <li class="project-card__tags-list-item">
                                            <div class="project-card__tag">
                                                Диспетчеризация
                                            </div>
                                        </li>
                                        <li class="project-card__tags-list-item">
                                            <div class="project-card__tag">
                                                Проектирование
                                            </div>
                                        </li>
                                    </ul>
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="project-card">
                                <div class="project-card__bg">
                                    <div class="project-card__placeholder">
                                        <img src="/images/projects/placeholder.webp" alt=""
                                            class="project-card__placeholder-image">
                                    </div>
                                    <div class="project-card__preview-wrapper">
                                        <img src="/images/projects/1-preview.webp" alt=""
                                            class="project-card__preview-image">
                                    </div>
                                </div>
                                <div class="project-card__content">
                                    <div class="project-card__top-row">
                                        <div class="project-card__company">
                                            Заказчик: ПАО «Газпром»
                                        </div>
                                    </div>
                                    <h4 class="h4 project-card__title">
                                        МФЦ Лахта Центр, г. Санкт-Петербург, проектирование, монтаж системы
                                        пожаротушения ТРВ ВД
                                    </h4>
                                    <ul class="project-card__tags-list">
                                        <li class="project-card__tags-list-item">
                                            <div class="project-card__tag">
                                                Монтаж
                                            </div>
                                        </li>
                                        <li class="project-card__tags-list-item">
                                            <div class="project-card__tag">
                                                Автоматизация
                                            </div>
                                        </li>
                                    </ul>
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="project-card">
                                <div class="project-card__bg">
                                    <div class="project-card__placeholder">
                                        <img src="/images/projects/placeholder.webp" alt=""
                                            class="project-card__placeholder-image">
                                    </div>
                                    <div class="project-card__preview-wrapper">
                                        <img src="/images/projects/2-preview.webp" alt=""
                                            class="project-card__preview-image">
                                    </div>
                                </div>
                                <div class="project-card__content">
                                    <div class="project-card__top-row">
                                        <div class="project-card__company">
                                            Заказчик: ПАО «Газпром»
                                        </div>
                                    </div>
                                    <h4 class="h4 project-card__title">
                                        Строительство нового здания «Татарского
                                        государственного академического театра
                                        имени Галиаскара Камала», г. Казань
                                    </h4>
                                    <ul class="project-card__tags-list">
                                        <li class="project-card__tags-list-item">
                                            <div class="project-card__tag">
                                                Монтаж
                                            </div>
                                        </li>
                                        <li class="project-card__tags-list-item">
                                            <div class="project-card__tag">
                                                Автоматизация
                                            </div>
                                        </li>
                                        <li class="project-card__tags-list-item">
                                            <div class="project-card__tag">
                                                Диспетчеризация
                                            </div>
                                        </li>
                                        <li class="project-card__tags-list-item">
                                            <div class="project-card__tag">
                                                Проектирование
                                            </div>
                                        </li>
                                    </ul>
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="realised-projects__slider-controls">
                <div class="realised-projects__slider-arrows">
                    <div class="slider-arrow slider-arrow--prev">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#slider-arrow-left"></use>
                        </svg>
                    </div>
                    <div class="slider-arrow slider-arrow--next">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#slider-arrow-right"></use>
                        </svg>
                    </div>
                </div>
                <div class="realised-projects__slider-pagination">
                    <div class="slider-pagination">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>