<section class="path path--with-bg">
    <div class="path__content">
        <h2 class="h2 path__heading">
            Путь к результату: основные этапы
        </h2>
        <div class="path__slider">
            <div class="path__slider-wrapper">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="path__slider-card">
                                <div class="path__slider-card-top">
                                    <div class="path__slider-card-number">
                                        01
                                    </div>
                                </div>
                                <h3 class="h4 path__slider-card-title">
                                    Оценка работ
                                </h3>
                                <div class="path__slider-card-text">
                                    Анализ проекта, сбор данных, определение задач и предварительных сроков.
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="path__slider-card">
                                <div class="path__slider-card-top">
                                    <div class="path__slider-card-number">
                                        02
                                    </div>
                                </div>
                                <h3 class="h4 path__slider-card-title">
                                    Заключение договора
                                </h3>
                                <div class="path__slider-card-text">
                                    Согласование условий, этапов и сроков, оформление всех необходимых документов.
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="path__slider-card">
                                <div class="path__slider-card-top">
                                    <div class="path__slider-card-number">
                                        03
                                    </div>
                                </div>
                                <h3 class="h4 path__slider-card-title">
                                    Проектирование
                                </h3>
                                <div class="path__slider-card-text">
                                    Разработка чертежей, схем и документации с учетом всех норм и требований.
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="path__slider-card">
                                <div class="path__slider-card-top">
                                    <div class="path__slider-card-number">
                                        04
                                    </div>
                                </div>
                                <h3 class="h4 path__slider-card-title">
                                    Реализация проекта
                                </h3>
                                <div class="path__slider-card-text">
                                    Закупка материалов, монтаж, тестирование и контроль качества на каждом этапе.
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="path__slider-card">
                                <div class="path__slider-card-top">
                                    <div class="path__slider-card-number">
                                        05
                                    </div>
                                </div>
                                <h3 class="h4 path__slider-card-title">
                                    Сдача и сопровождение
                                </h3>
                                <div class="path__slider-card-text">
                                    Передача готового объекта, обучение и поддержка по эксплуатации.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="path__slider-controls">
                <div class="path__slider-arrows">
                    <div class="slider-arrow slider-arrow--prev">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#slider-arrow-left"></use>
                        </svg>
                    </div>
                    <div class="slider-arrow slider-arrow--next">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#slider-arrow-right"></use>
                        </svg>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>