<section class="projects">
    <div class="projects__content">
        <div class="breadcrumbs">
            <ul class="breadcrumbs__list">
                <li class="breadcrumbs__list-item">
                    <a href="#" class="breadcrumbs__link">
                        Главная
                    </a>
                </li>
                <li class="breadcrumbs__list-item">
                    <a class="breadcrumbs__link active">
                        Выполненные проекты
                    </a>
                </li>
            </ul>


        </div>
        <div class="projects__top-row">
            <h1 class="h1 projects__heading">
                Выполненные<br> проекты
            </h1>
            <div class="projects__wrapper">
                <div class="projects__text">
                    Мы спроектировали и&nbsp;смонтировали более 20&nbsp;промышленных объектов
                </div>
                <div class="projects__count">
                    20
                    <span>
                        +
                    </span>
                </div>
            </div>
        </div>
        <ul class="projects__list">
            <li class="projects__list-item">
                <a href="#" class="project-card">
                    <div class="project-card__bg">
                        <div class="project-card__placeholder">
                            <img src="/images/projects/placeholder.webp" alt="" class="project-card__placeholder-image">
                        </div>
                        <div class="project-card__image-wrapper">
                            <img src="/images/projects/1.webp" alt="" class="project-card__image">
                        </div>
                    </div>
                    <div class="project-card__content">
                        <div class="project-card__top-row">
                            <div class="project-card__company">
                                Заказчик: ПАО «Газпром»
                            </div>
                            <div class="project-card__preview-wrapper">
                                <img src="/images/projects/1-preview.webp" alt="" class="project-card__preview-image">
                            </div>
                        </div>
                        <h4 class="h4 project-card__title">
                            МФЦ Лахта Центр, г. Санкт-Петербург, проектирование, монтаж системы
                            пожаротушения ТРВ ВД
                        </h4>
                        <ul class="project-card__tags-list">
                            <li class="project-card__tags-list-item">
                                <div class="project-card__tag">
                                    Монтаж
                                </div>
                            </li>
                            <li class="project-card__tags-list-item">
                                <div class="project-card__tag">
                                    Автоматизация
                                </div>
                            </li>
                        </ul>
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </div>
                </a>
            </li>
            <li class="projects__list-item">
                <a href="#" class="project-card">
                    <div class="project-card__bg">
                        <div class="project-card__placeholder">
                            <img src="/images/projects/placeholder.webp" alt="" class="project-card__placeholder-image">
                        </div>
                        <div class="project-card__image-wrapper">
                            <img src="/images/projects/2.webp" alt="" class="project-card__image">
                        </div>
                    </div>
                    <div class="project-card__content">
                        <div class="project-card__top-row">
                            <div class="project-card__company">
                                Заказчик: ПАО «Газпром»
                            </div>
                            <div class="project-card__preview-wrapper">
                                <img src="/images/projects/2-preview.webp" alt="" class="project-card__preview-image">
                            </div>
                        </div>
                        <h4 class="h4 project-card__title">
                            Строительство нового здания «Татарского
                            государственного академического театра
                            имени Галиаскара Камала», г. Казань
                        </h4>
                        <ul class="project-card__tags-list">
                            <li class="project-card__tags-list-item">
                                <div class="project-card__tag">
                                    Монтаж
                                </div>
                            </li>
                            <li class="project-card__tags-list-item">
                                <div class="project-card__tag">
                                    Автоматизация
                                </div>
                            </li>
                            <li class="project-card__tags-list-item">
                                <div class="project-card__tag">
                                    Диспетчеризация
                                </div>
                            </li>
                            <li class="project-card__tags-list-item">
                                <div class="project-card__tag">
                                    Проектирование
                                </div>
                            </li>
                        </ul>
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </div>
                </a>
            </li>
            <li class="projects__list-item">
                <a href="#" class="project-card">
                    <div class="project-card__bg">
                        <div class="project-card__placeholder">
                            <img src="/images/projects/placeholder.webp" alt="" class="project-card__placeholder-image">
                        </div>
                        <div class="project-card__image-wrapper">
                            <img src="/images/projects/1.webp" alt="" class="project-card__image">
                        </div>
                    </div>
                    <div class="project-card__content">
                        <div class="project-card__top-row">
                            <div class="project-card__company">
                                Заказчик: ПАО «Газпром»
                            </div>
                            <div class="project-card__preview-wrapper">
                                <img src="/images/projects/1-preview.webp" alt="" class="project-card__preview-image">
                            </div>
                        </div>
                        <h4 class="h4 project-card__title">
                            МФЦ Лахта Центр, г. Санкт-Петербург, проектирование, монтаж системы
                            пожаротушения ТРВ ВД
                        </h4>
                        <ul class="project-card__tags-list">
                            <li class="project-card__tags-list-item">
                                <div class="project-card__tag">
                                    Монтаж
                                </div>
                            </li>
                            <li class="project-card__tags-list-item">
                                <div class="project-card__tag">
                                    Автоматизация
                                </div>
                            </li>
                        </ul>
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </div>
                </a>
            </li>
            <li class="projects__list-item">
                <a href="#" class="project-card">
                    <div class="project-card__bg">
                        <div class="project-card__placeholder">
                            <img src="/images/projects/placeholder.webp" alt="" class="project-card__placeholder-image">
                        </div>
                        <div class="project-card__image-wrapper">
                            <img src="/images/projects/2.webp" alt="" class="project-card__image">
                        </div>
                    </div>
                    <div class="project-card__content">
                        <div class="project-card__top-row">
                            <div class="project-card__company">
                                Заказчик: ПАО «Газпром»
                            </div>
                            <div class="project-card__preview-wrapper">
                                <img src="/images/projects/2-preview.webp" alt="" class="project-card__preview-image">
                            </div>
                        </div>
                        <h4 class="h4 project-card__title">
                            Строительство нового здания «Татарского
                            государственного академического театра
                            имени Галиаскара Камала», г. Казань
                        </h4>
                        <ul class="project-card__tags-list">
                            <li class="project-card__tags-list-item">
                                <div class="project-card__tag">
                                    Монтаж
                                </div>
                            </li>
                            <li class="project-card__tags-list-item">
                                <div class="project-card__tag">
                                    Автоматизация
                                </div>
                            </li>
                            <li class="project-card__tags-list-item">
                                <div class="project-card__tag">
                                    Диспетчеризация
                                </div>
                            </li>
                            <li class="project-card__tags-list-item">
                                <div class="project-card__tag">
                                    Проектирование
                                </div>
                            </li>
                        </ul>
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </div>
                </a>
            </li>
            <li class="projects__list-item">
                <a href="#" class="project-card">
                    <div class="project-card__bg">
                        <div class="project-card__placeholder">
                            <img src="/images/projects/placeholder.webp" alt="" class="project-card__placeholder-image">
                        </div>
                        <div class="project-card__image-wrapper">
                            <img src="/images/projects/1.webp" alt="" class="project-card__image">
                        </div>
                    </div>
                    <div class="project-card__content">
                        <div class="project-card__top-row">
                            <div class="project-card__company">
                                Заказчик: ПАО «Газпром»
                            </div>
                            <div class="project-card__preview-wrapper">
                                <img src="/images/projects/1-preview.webp" alt="" class="project-card__preview-image">
                            </div>
                        </div>
                        <h4 class="h4 project-card__title">
                            МФЦ Лахта Центр, г. Санкт-Петербург, проектирование, монтаж системы
                            пожаротушения ТРВ ВД
                        </h4>
                        <ul class="project-card__tags-list">
                            <li class="project-card__tags-list-item">
                                <div class="project-card__tag">
                                    Монтаж
                                </div>
                            </li>
                            <li class="project-card__tags-list-item">
                                <div class="project-card__tag">
                                    Автоматизация
                                </div>
                            </li>
                        </ul>
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </div>
                </a>
            </li>
            <li class="projects__list-item">
                <a href="#" class="project-card">
                    <div class="project-card__bg">
                        <div class="project-card__placeholder">
                            <img src="/images/projects/placeholder.webp" alt="" class="project-card__placeholder-image">
                        </div>
                        <div class="project-card__image-wrapper">
                            <img src="/images/projects/2.webp" alt="" class="project-card__image">
                        </div>
                    </div>
                    <div class="project-card__content">
                        <div class="project-card__top-row">
                            <div class="project-card__company">
                                Заказчик: ПАО «Газпром»
                            </div>
                            <div class="project-card__preview-wrapper">
                                <img src="/images/projects/2-preview.webp" alt="" class="project-card__preview-image">
                            </div>
                        </div>
                        <h4 class="h4 project-card__title">
                            Строительство нового здания «Татарского
                            государственного академического театра
                            имени Галиаскара Камала», г. Казань
                        </h4>
                        <ul class="project-card__tags-list">
                            <li class="project-card__tags-list-item">
                                <div class="project-card__tag">
                                    Монтаж
                                </div>
                            </li>
                            <li class="project-card__tags-list-item">
                                <div class="project-card__tag">
                                    Автоматизация
                                </div>
                            </li>
                            <li class="project-card__tags-list-item">
                                <div class="project-card__tag">
                                    Диспетчеризация
                                </div>
                            </li>
                            <li class="project-card__tags-list-item">
                                <div class="project-card__tag">
                                    Проектирование
                                </div>
                            </li>
                        </ul>
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </div>
                </a>
            </li>
            <li class="projects__list-item">
                <a href="#" class="project-card">
                    <div class="project-card__bg">
                        <div class="project-card__placeholder">
                            <img src="/images/projects/placeholder.webp" alt="" class="project-card__placeholder-image">
                        </div>
                        <div class="project-card__image-wrapper">
                            <img src="/images/projects/1.webp" alt="" class="project-card__image">
                        </div>
                    </div>
                    <div class="project-card__content">
                        <div class="project-card__top-row">
                            <div class="project-card__company">
                                Заказчик: ПАО «Газпром»
                            </div>
                            <div class="project-card__preview-wrapper">
                                <img src="/images/projects/1-preview.webp" alt="" class="project-card__preview-image">
                            </div>
                        </div>
                        <h4 class="h4 project-card__title">
                            МФЦ Лахта Центр, г. Санкт-Петербург, проектирование, монтаж системы
                            пожаротушения ТРВ ВД
                        </h4>
                        <ul class="project-card__tags-list">
                            <li class="project-card__tags-list-item">
                                <div class="project-card__tag">
                                    Монтаж
                                </div>
                            </li>
                            <li class="project-card__tags-list-item">
                                <div class="project-card__tag">
                                    Автоматизация
                                </div>
                            </li>
                        </ul>
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </div>
                </a>
            </li>
            <li class="projects__list-item">
                <a href="#" class="project-card">
                    <div class="project-card__bg">
                        <div class="project-card__placeholder">
                            <img src="/images/projects/placeholder.webp" alt="" class="project-card__placeholder-image">
                        </div>
                        <div class="project-card__image-wrapper">
                            <img src="/images/projects/2.webp" alt="" class="project-card__image">
                        </div>
                    </div>
                    <div class="project-card__content">
                        <div class="project-card__top-row">
                            <div class="project-card__company">
                                Заказчик: ПАО «Газпром»
                            </div>
                            <div class="project-card__preview-wrapper">
                                <img src="/images/projects/2-preview.webp" alt="" class="project-card__preview-image">
                            </div>
                        </div>
                        <h4 class="h4 project-card__title">
                            Строительство нового здания «Татарского
                            государственного академического театра
                            имени Галиаскара Камала», г. Казань
                        </h4>
                        <ul class="project-card__tags-list">
                            <li class="project-card__tags-list-item">
                                <div class="project-card__tag">
                                    Монтаж
                                </div>
                            </li>
                            <li class="project-card__tags-list-item">
                                <div class="project-card__tag">
                                    Автоматизация
                                </div>
                            </li>
                            <li class="project-card__tags-list-item">
                                <div class="project-card__tag">
                                    Диспетчеризация
                                </div>
                            </li>
                            <li class="project-card__tags-list-item">
                                <div class="project-card__tag">
                                    Проектирование
                                </div>
                            </li>
                        </ul>
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </div>
                </a>
            </li>
        </ul>
        <div class="pagination">
            <ul>
                <li>
                    <span class="current">
                        01
                    </span>
                </li>
                <li>
                    <a href="#">
                        02
                    </a>
                </li>
                <li>
                    <a href="#">
                        ...
                    </a>
                </li>
                <li>
                    <a href="#">
                        05
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>