<section class="project-details">
    <div class="project-details__content">
        <ul class="project-details__list">
            <li class="project-details__list-item">
                <div class="project-details__card">
                    <h3 class="h3 project-details__card-title">
                        Задача
                    </h3>
                    <div class="text-content project-details__card-content">
                        <p>
                            Текст-заполнитель — это текст, который имеет некоторые характеристики реального письменного
                            текста, но является случайным набором слов или сгенерирован иным образом.
                        </p>
                    </div>
                </div>
            </li>
            <li class="project-details__list-item">
                <div class="project-details__card">
                    <h3 class="h3 project-details__card-title">
                        Выполненные<br> работы:
                    </h3>
                    <div class="text-content project-details__card-content">
                        <ul>
                            <li>
                                монтаж систем теплоснабжения и отопления
                            </li>
                            <li>
                                автоматизация дымоудаления и общеобменной вентиляции
                            </li>
                            <li>
                                наладка индивидуального теплового пункта (ИТП)
                            </li>
                            <li>
                                монтаж спринклерного пожаротушения
                            </li>
                        </ul>
                        <p>
                            Текст-заполнитель — это текст, который имеет некоторые характеристики реального письменного
                            текста, но является случайным набором слов или сгенерирован иным образом. Его можно
                            использовать для отображения образца шрифтов, создания текста для тестирования или обхода
                            спам-фильтра.
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>