<section class="quote">
    <div class="quote__content">
        <div class="quote__text">
            “Цитата ген.дира. Текст-заполнитель — это текст, который имеет некоторые характеристики реального
            письменного текста, но является случайным набором слов или сгенерирован иным образом.”
        </div>
        <div class="quote__author">
            <div class="quote__author-image-container">
                <img src="/images/quote-author.webp" alt="" class="quote__author-image">
            </div>
            <h3 class="quote__author-name">
                Имя Фамилия
            </h3>
            <div class="quote__author-role">
                Генеральный директор
            </div>
        </div>
    </div>
</section>