<section class="reviews">
    <div class="reviews__bg">
        <div class="reviews__bg-inner">
            <div class="reviews__bg-wrapper"></div>
        </div>
    </div>
    <div class="reviews__content">
        <h2 class="h2 reviews__heading">
            Отзывы
        </h2>
        <div class="reviews__slider">
            <div class="reviews__slider-wrapper">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="reviews__slider-card">
                                <div class="reviews__slider-card-content">
                                    <div class="reviews__slider-card-top-row">
                                        <h4 class="h4 reviews__slider-card-title">
                                            Татнефть
                                        </h4>
                                        <div class="reviews__slider-card-company">
                                            <img src="/images/reviews-company.webp" alt=""
                                                class="reviews__slider-card-company-logo">
                                            <div class="reviews__slider-card-company-corners">
                                                <div class="top-left-corner"></div>
                                                <div class="top-right-corner"></div>
                                                <div class="bottom-left-corner"></div>
                                                <div class="bottom-right-corner"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="reviews__slider-card-text">
                                        Расшифровка благодарственного письма. Текст-заполнитель — это текст, который
                                        имеет некоторые характеристики реального письменного текста, но является
                                        случайным набором слов или сгенерирован иным образом. Его можно использовать для
                                        отображения образца шрифтов, создания текста для тестирования или обхода
                                        спам-фильтра.
                                    </div>
                                    <a href="#" class="reviews__slider-card-read-more">
                                        Читать полностью
                                        <svg width="14" height="14" aria-hidden="true">
                                            <use xlink:href="#read-more-arrow"></use>
                                        </svg>
                                    </a>
                                </div>
                                <div class="reviews__slider-card-document">
                                    <a href="/images/document.webp" class="reviews__slider-card-document-image-wrapper"
                                        data-fancybox="reviews">
                                        <img src="/images/document.webp" alt=""
                                            class="reviews__slider-card-document-image">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="reviews__slider-card">
                                <div class="reviews__slider-card-content">
                                    <div class="reviews__slider-card-top-row">
                                        <h4 class="h4 reviews__slider-card-title">
                                            Татнефть
                                        </h4>
                                        <div class="reviews__slider-card-company">
                                            <img src="/images/reviews-company.webp" alt=""
                                                class="reviews__slider-card-company-logo">
                                            <div class="reviews__slider-card-company-corners">
                                                <div class="top-left-corner"></div>
                                                <div class="top-right-corner"></div>
                                                <div class="bottom-left-corner"></div>
                                                <div class="bottom-right-corner"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="reviews__slider-card-text">
                                        Расшифровка благодарственного письма. Текст-заполнитель — это текст, который
                                        имеет некоторые характеристики реального письменного текста, но является
                                        случайным набором слов или сгенерирован иным образом. Его можно использовать для
                                        отображения образца шрифтов, создания текста для тестирования или обхода
                                        спам-фильтра.
                                    </div>
                                    <a href="#" class="reviews__slider-card-read-more">
                                        Читать полностью
                                        <svg width="14" height="14" aria-hidden="true">
                                            <use xlink:href="#read-more-arrow"></use>
                                        </svg>
                                    </a>
                                </div>
                                <div class="reviews__slider-card-document">
                                    <a href="/images/document.webp" class="reviews__slider-card-document-image-wrapper"
                                        data-fancybox="reviews">
                                        <img src="/images/document.webp" alt=""
                                            class="reviews__slider-card-document-image">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="reviews__slider-card">
                                <div class="reviews__slider-card-content">
                                    <div class="reviews__slider-card-top-row">
                                        <h4 class="h4 reviews__slider-card-title">
                                            Татнефть
                                        </h4>
                                        <div class="reviews__slider-card-company">
                                            <img src="/images/reviews-company.webp" alt=""
                                                class="reviews__slider-card-company-logo">
                                            <div class="reviews__slider-card-company-corners">
                                                <div class="top-left-corner"></div>
                                                <div class="top-right-corner"></div>
                                                <div class="bottom-left-corner"></div>
                                                <div class="bottom-right-corner"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="reviews__slider-card-text">
                                        Расшифровка благодарственного письма. Текст-заполнитель — это текст, который
                                        имеет некоторые характеристики реального письменного текста, но является
                                        случайным набором слов или сгенерирован иным образом. Его можно использовать для
                                        отображения образца шрифтов, создания текста для тестирования или обхода
                                        спам-фильтра.
                                    </div>
                                    <a href="#" class="reviews__slider-card-read-more">
                                        Читать полностью
                                        <svg width="14" height="14" aria-hidden="true">
                                            <use xlink:href="#read-more-arrow"></use>
                                        </svg>
                                    </a>
                                </div>
                                <div class="reviews__slider-card-document">
                                    <a href="/images/document.webp" class="reviews__slider-card-document-image-wrapper"
                                        data-fancybox="reviews">
                                        <img src="/images/document.webp" alt=""
                                            class="reviews__slider-card-document-image">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="reviews__slider-controls">
                <div class="reviews__slider-arrows">
                    <div class="slider-arrow slider-arrow--prev">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#slider-arrow-left"></use>
                        </svg>
                    </div>
                    <div class="slider-arrow slider-arrow--next">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#slider-arrow-right"></use>
                        </svg>
                    </div>
                </div>
                <div class="reviews__slider-pagination">
                    <div class="slider-pagination">

                    </div>
                </div>
            </div>
        </div>

    </div>
</section>