<section class="seo-block">
    <div class="seo-block__content">
        <h2 class="h2 seo-block__heading">
            Заголовок для SEO-текста
        </h2>
        <div class="text-content seo-block__text-content">
            <p>
                Текст-заполнитель — это текст, который имеет некоторые характеристики реального письменного текста,
                но
                является случайным набором слов или сгенерирован иным образом. Его можно использовать для
                отображения
                образца шрифтов, создания текста для тестирования или обхода спам-фильтра.
            </p>
            <p>
                Текст-заполнитель — это текст, который имеет некоторые характеристики реального письменного текста,
                но является случайным набором слов или сгенерирован иным образом. Его можно использовать для
                отображения образца шрифтов, создания текста для тестирования или обхода спам-фильтра.
            </p>
        </div>
    </div>
</section>