<section class="services js-tabs">
    <div class="services__content">
        <h2 class="h2 services__heading">
            Мы выполняем полный цикл работ по созданию промышленных объектов
        </h2>
        <div class="services__nav">
            <div class="tabs-nav">
                <ul class="tabs-nav__list">
                    <li class="tabs-nav__list-item">
                        <a href="#" class="tab-btn js-tabs-btn active">
                            Строительство
                        </a>
                    </li>
                    <li class="tabs-nav__list-item">
                        <a href="#" class="tab-btn js-tabs-btn">
                            Производство
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tab-items">
            <div class="tab-items__item js-tabs-item active">
                <div class="services__tab">
                    <h3 class="h3 services__tab-heading">
                        Строительство промышленных объектов
                    </h3>
                    <ul class="services__list">
                        <li class="services__list-item">
                            <div class="services__card">
                                <a href="#" class="services__card-link-wrapper">

                                </a>
                                <h4 class="h5 services__card-title">
                                    Получение разрешений на строительство
                                </h4>
                                <div class="services__card-icon-wrapper">
                                    <img src="/images/services/1.svg" alt="" class="services__card-icon">
                                </div>
                                <div class="services__card-arrow">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </div>
                            </div>
                        </li>
                        <li class="services__list-item">
                            <div class="services__card">
                                <a href="#" class="services__card-link-wrapper">

                                </a>
                                <h4 class="h5 services__card-title">
                                    Проектирование
                                </h4>
                                <div class="services__card-icon-wrapper">
                                    <img src="/images/services/2.svg" alt="" class="services__card-icon">
                                </div>
                                <div class="services__card-arrow">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </div>
                            </div>
                        </li>
                        <li class="services__list-item">
                            <div class="services__card">
                                <a href="#" class="services__card-link-wrapper">

                                </a>
                                <h4 class="h5 services__card-title">
                                    Строительство
                                </h4>
                                <div class="services__card-icon-wrapper">
                                    <img src="/images/services/3.svg" alt="" class="services__card-icon">
                                </div>
                                <div class="services__card-arrow">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </div>
                            </div>
                        </li>
                        <li class="services__list-item services__list-item--high">
                            <div class="services__card">
                                <a href="#" class="services__card-link-wrapper">

                                </a>
                                <h4 class="h5 services__card-title">
                                    Введение объекта в эксплуатацию
                                </h4>
                                <div class="services__card-icon-wrapper">
                                    <img src="/images/services/4.svg" alt="" class="services__card-icon">
                                </div>
                                <div class="services__card-arrow">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </div>
                            </div>
                        </li>
                        <li class="services__list-item services__list-item--wide">
                            <div class="services__card">
                                <a href="#" class="services__card-link-wrapper">

                                </a>
                                <h4 class="h5 services__card-title">
                                    Инжиниринг
                                </h4>
                                <ul class="services__card-list">
                                    <li class="services__card-list-item">
                                        <a href="#" class="services__card-link">
                                            Системы водоснабжения
                                            <svg width="14" height="14" aria-hidden="true">
                                                <use xlink:href="#small-arrow-right"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="services__card-list-item">
                                        <a href="#" class="services__card-link">
                                            Системы отопления
                                            <svg width="14" height="14" aria-hidden="true">
                                                <use xlink:href="#small-arrow-right"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="services__card-list-item">
                                        <a href="#" class="services__card-link">
                                            Системы водоотведения
                                            <svg width="14" height="14" aria-hidden="true">
                                                <use xlink:href="#small-arrow-right"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="services__card-list-item">
                                        <a href="#" class="services__card-link">
                                            Системы кондиционирования
                                            <svg width="14" height="14" aria-hidden="true">
                                                <use xlink:href="#small-arrow-right"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="services__card-list-item">
                                        <a href="#" class="services__card-link">
                                            Системы пожаротушения
                                            <svg width="14" height="14" aria-hidden="true">
                                                <use xlink:href="#small-arrow-right"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="services__card-list-item">
                                        <a href="#" class="services__card-link">
                                            Индивидуальные тепловых пункт
                                            <svg width="14" height="14" aria-hidden="true">
                                                <use xlink:href="#small-arrow-right"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="services__card-list-item">
                                        <a href="#" class="services__card-link">
                                            Пароконденсатные системы
                                            <svg width="14" height="14" aria-hidden="true">
                                                <use xlink:href="#small-arrow-right"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="services__card-list-item">
                                        <a href="#" class="services__card-link">
                                            СКУД
                                            <svg width="14" height="14" aria-hidden="true">
                                                <use xlink:href="#small-arrow-right"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="services__card-list-item">
                                        <a href="#" class="services__card-link">
                                            Системы вентиляциия
                                            <svg width="14" height="14" aria-hidden="true">
                                                <use xlink:href="#small-arrow-right"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="services__card-list-item">
                                        <a href="#" class="services__card-link">
                                            Спец системы пожаротушения
                                            <svg width="14" height="14" aria-hidden="true">
                                                <use xlink:href="#small-arrow-right"></use>
                                            </svg>
                                        </a>
                                    </li>
                                </ul>
                                <div class="services__card-arrow">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </div>

                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="tab-items__item js-tabs-item">
                <div class="services__tab">
                    <h3 class="h3 services__tab-heading">
                        Производство
                    </h3>
                    <ul class="services__list">
                        <li class="services__list-item">
                            <div class="services__card">
                                <a href="#" class="services__card-link-wrapper">

                                </a>
                                <h4 class="h5 services__card-title">
                                    Получение разрешений на строительство
                                </h4>
                                <div class="services__card-icon-wrapper">
                                    <img src="/images/services/1.svg" alt="" class="services__card-icon">
                                </div>
                                <div class="services__card-arrow">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </div>
                            </div>
                        </li>
                        <li class="services__list-item">
                            <div class="services__card">
                                <a href="#" class="services__card-link-wrapper">

                                </a>
                                <h4 class="h5 services__card-title">
                                    Проектирование
                                </h4>
                                <div class="services__card-icon-wrapper">
                                    <img src="/images/services/2.svg" alt="" class="services__card-icon">
                                </div>
                                <div class="services__card-arrow">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </div>
                            </div>
                        </li>
                        <li class="services__list-item">
                            <div class="services__card">
                                <a href="#" class="services__card-link-wrapper">

                                </a>
                                <h4 class="h5 services__card-title">
                                    Строительство
                                </h4>
                                <div class="services__card-icon-wrapper">
                                    <img src="/images/services/3.svg" alt="" class="services__card-icon">
                                </div>
                                <div class="services__card-arrow">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </div>
                            </div>
                        </li>
                        <li class="services__list-item services__list-item--high">
                            <div class="services__card">
                                <a href="#" class="services__card-link-wrapper">

                                </a>
                                <h4 class="h5 services__card-title">
                                    Введение объекта в эксплуатацию
                                </h4>
                                <div class="services__card-icon-wrapper">
                                    <img src="/images/services/4.svg" alt="" class="services__card-icon">
                                </div>
                                <div class="services__card-arrow">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </div>
                            </div>
                        </li>
                        <li class="services__list-item services__list-item--wide">
                            <div class="services__card">
                                <a href="#" class="services__card-link-wrapper">

                                </a>
                                <h4 class="h5 services__card-title">
                                    Инжиниринг
                                </h4>
                                <ul class="services__card-list">
                                    <li class="services__card-list-item">
                                        <a href="#" class="services__card-link">
                                            Системы водоснабжения
                                            <svg width="14" height="14" aria-hidden="true">
                                                <use xlink:href="#small-arrow-right"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="services__card-list-item">
                                        <a href="#" class="services__card-link">
                                            Системы отопления
                                            <svg width="14" height="14" aria-hidden="true">
                                                <use xlink:href="#small-arrow-right"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="services__card-list-item">
                                        <a href="#" class="services__card-link">
                                            Системы водоотведения
                                            <svg width="14" height="14" aria-hidden="true">
                                                <use xlink:href="#small-arrow-right"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="services__card-list-item">
                                        <a href="#" class="services__card-link">
                                            Системы кондиционирования
                                            <svg width="14" height="14" aria-hidden="true">
                                                <use xlink:href="#small-arrow-right"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="services__card-list-item">
                                        <a href="#" class="services__card-link">
                                            Системы пожаротушения
                                            <svg width="14" height="14" aria-hidden="true">
                                                <use xlink:href="#small-arrow-right"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="services__card-list-item">
                                        <a href="#" class="services__card-link">
                                            Индивидуальные тепловых пункт
                                            <svg width="14" height="14" aria-hidden="true">
                                                <use xlink:href="#small-arrow-right"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="services__card-list-item">
                                        <a href="#" class="services__card-link">
                                            Пароконденсатные системы
                                            <svg width="14" height="14" aria-hidden="true">
                                                <use xlink:href="#small-arrow-right"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="services__card-list-item">
                                        <a href="#" class="services__card-link">
                                            СКУД
                                            <svg width="14" height="14" aria-hidden="true">
                                                <use xlink:href="#small-arrow-right"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="services__card-list-item">
                                        <a href="#" class="services__card-link">
                                            Системы вентиляциия
                                            <svg width="14" height="14" aria-hidden="true">
                                                <use xlink:href="#small-arrow-right"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="services__card-list-item">
                                        <a href="#" class="services__card-link">
                                            Спец системы пожаротушения
                                            <svg width="14" height="14" aria-hidden="true">
                                                <use xlink:href="#small-arrow-right"></use>
                                            </svg>
                                        </a>
                                    </li>
                                </ul>
                                <div class="services__card-arrow">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </div>

                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>