<section class="since">
    <div class="since__bg">
        <picture>
            <source srcset="/images/since-mobile.webp" media="(max-width: 640px)" />
            <img src="/images/since.webp" alt="" class="since__bg-image" />
        </picture>
    </div>
    <div class="since__content">
        <div class="since__left-col">
            <h2 class="h2 since__heading">
                Успешно осуществляем свою деятельность с 2017 года
            </h2>
            <div class="since__text">
                Текст-заполнитель — это текст, который имеет некоторые характеристики реального письменного текста, но
                является случайным набором слов или сгенерирован иным образом.
            </div>
        </div>
        <ul class="since__list">
            <li class="since__list-item">
                <div class="since__card">
                    <div class="since__card-amount">
                        15
                    </div>
                    <div class="since__card-text">
                        Штатных специалистов
                    </div>
                </div>
            </li>
            <li class="since__list-item">
                <div class="since__card">
                    <div class="since__card-amount">
                        5
                    </div>
                    <div class="since__card-text">
                        Объектов на обслуживании
                    </div>
                </div>
            </li>
            <li class="since__list-item">
                <div class="since__card">
                    <div class="since__card-amount">
                        35
                        <span class="since__card-amount-words">
                            +
                        </span>
                    </div>
                    <div class="since__card-text">
                        Клиентов у компании
                    </div>
                </div>
            </li>
            <li class="since__list-item">
                <div class="since__card">
                    <div class="since__card-amount">
                        20
                        <span class="since__card-amount-words">
                            +
                        </span>
                    </div>
                    <div class="since__card-text">
                        Выполненных проектов
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>