<section class="single-team">
    <div class="single-team__content">
        <div class="breadcrumbs single-team__breadcrumbs">
            <ul class="breadcrumbs__list">
                <li class="breadcrumbs__list-item">
                    <a href="#" class="breadcrumbs__link">
                        Главная
                    </a>
                </li>
                <li class="breadcrumbs__list-item">
                    <a href="#" class="breadcrumbs__link">
                        Команда
                    </a>
                </li>
                <li class="breadcrumbs__list-item">
                    <a class="breadcrumbs__link active">
                        Фамилия Имя
                    </a>
                </li>
            </ul>


        </div>
        <div class="single-team__row">
            <div class="single-team__photo-container">
                <div class="single-team__photo-corners">
                    <div class="top-left-corner"></div>
                    <div class="top-right-corner"></div>
                    <div class="bottom-left-corner"></div>
                    <div class="bottom-right-corner"></div>
                </div>
                <div class="single-team__photo-inner-container">
                    <img src="/images/single-team.webp" alt="" class="single-team__photo">
                </div>
            </div>
            <div class="single-team__text-content">
                <div class="single-team__info">
                    <div class="single-team__info-wrapper">
                        <h1 class="h1 single-team__name">Фамилия Имя</h1>
                        <div class="single-team__role">
                            Должность
                        </div>
                    </div>
                    <div class="single-team__experience">
                        <div class="single-team__experience-corners">
                            <div class="top-left-corner"></div>
                            <div class="top-right-corner"></div>
                            <div class="bottom-left-corner"></div>
                            <div class="bottom-right-corner"></div>
                        </div>
                        Стаж 10 лет
                    </div>

                </div>
                <ul class="single-team__bio-list">
                    <li class="single-team__bio-list-item">
                        <div class="single-team__bio-card">
                            <h3 class="h4 single-team__bio-card-title">
                                Образование
                            </h3>
                            <div class="single-team__bio-card-text">
                                Текст-заполнитель — это текст, который имеет некоторые характеристики реального
                                письменного текста
                            </div>
                        </div>
                    </li>
                    <li class="single-team__bio-list-item">
                        <div class="single-team__bio-card">
                            <h3 class="h4 single-team__bio-card-title">
                                Карьера
                            </h3>
                            <div class="single-team__bio-card-text">
                                Текст-заполнитель — это текст, который имеет некоторые характеристики реального
                                письменного текста
                            </div>
                        </div>
                    </li>
                    <li class="single-team__bio-list-item">
                        <div class="single-team__bio-card">
                            <h3 class="h4 single-team__bio-card-title">
                                Специализация
                            </h3>
                            <div class="single-team__bio-card-text">
                                Текст-заполнитель — это текст, который имеет некоторые характеристики реального
                                письменного текста
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>