<section class="steps">
    <div class="steps__content">
        <h2 class="h2 steps__heading">
            От разработки проекта до запуска в эксплуатацию
        </h2>
        <div class="steps__wrapper">
            <ol class="steps__list">
                <li class="steps__list-item">
                    <div class="steps__card">
                        <div class="steps__card-corners">
                            <div class="top-left-corner"></div>
                            <div class="top-right-corner"></div>
                            <div class="bottom-left-corner"></div>
                            <div class="bottom-right-corner"></div>
                        </div>
                        <div class="steps__card-content">
                            <div class="steps__card-text">
                                Предлагаем комплексный подход «под ключ»: в штате свои специалисты по проектированию,
                                монтажу и техническому обслуживанию
                            </div>
                        </div>
                    </div>
                </li>
                <li class="steps__list-item">
                    <div class="steps__card">
                        <div class="steps__card-corners">
                            <div class="top-left-corner"></div>
                            <div class="top-right-corner"></div>
                            <div class="bottom-left-corner"></div>
                            <div class="bottom-right-corner"></div>
                        </div>
                        <div class="steps__card-content">
                            <div class="steps__card-text">
                                Являемся представителями и имеем партнёрские отношения с основными поставщиками
                                материалов и промышленного оборудования
                            </div>
                        </div>
                    </div>
                </li>
                <li class="steps__list-item">
                    <div class="steps__card">
                        <div class="steps__card-corners">
                            <div class="top-left-corner"></div>
                            <div class="top-right-corner"></div>
                            <div class="bottom-left-corner"></div>
                            <div class="bottom-right-corner"></div>
                        </div>
                        <div class="steps__card-content">
                            <div class="steps__card-text">
                                Принимаем активное участие в постановке на учёт и вводе в эксплуатацию построенных нами
                                опасных производственных объектов
                            </div>
                        </div>
                    </div>
                </li>
            </ol>
            <a href="#" class="steps__callback-card">
                <div class="steps__callback-card-content">
                    <h3 class="steps__callback-card-title">
                        Оставьте заявку
                    </h3>
                    <div class="steps__callback-card-text">
                        Наш менеджер свяжется с вами
                    </div>
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </div>
            </a>
        </div>
    </div>
</section>