<section class="subservice-intro-2">
    <div class="subservice-intro-2__content">
        <div class="breadcrumbs subservice-intro-2__breadcrumbs">
            <ul class="breadcrumbs__list">
                <li class="breadcrumbs__list-item">
                    <a href="#" class="breadcrumbs__link">
                        Главная
                    </a>
                </li>
                <li class="breadcrumbs__list-item">
                    <a href="#" class="breadcrumbs__link">
                        Инжиниринг
                    </a>
                </li>
                <li class="breadcrumbs__list-item">
                    <a href="#" class="breadcrumbs__link">
                        Системы водоснабжения
                    </a>
                </li>
                <li class="breadcrumbs__list-item">
                    <a class="breadcrumbs__link active">
                        Проектирование системы водоснабжения
                    </a>
                </li>
            </ul>
        </div>
        <div class="subservice-intro-2__row">
            <h1 class="h1 subservice-intro-2__heading">
                Проектирование системы водоснабжения
            </h1>
            <div class="subservice-intro-2__text-content">
                <div class="subservice-intro-2__text">
                    Текст-заполнитель — это текст, который имеет некоторые характеристики реального письменного текста,
                    но является случайным набором слов или сгенерирован иным образом.
                </div>
                <a href="#callback-modal" class="btn subservice-intro-2__btn">Оставить заявку</a>
            </div>
        </div>
    </div>
</section>