<section class="tabs-block">
    <div class="tabs-block__content">
        <h2 class="h2 tabs-block__heading">
            Блок с табами для текстового контента (Обратившись к нам вы получите)
        </h2>
        <div class="tabs-block__row">
            <div class="tabs-block__left-col">
                <div class="tabs-block__nav">
                    <button class="tabs-block__nav-card active">
                        <span class="tabs-block__nav-card-title">
                            Готовый рабочий проект приточно-вытяжной вентиляции
                        </span>
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </button>
                    <button class="tabs-block__nav-card">
                        <span class="tabs-block__nav-card-title">
                            Защиту проекта
                        </span>
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </button>
                    <button class="tabs-block__nav-card">
                        <span class="tabs-block__nav-card-title">
                            Бесплатные корректировки
                        </span>
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </button>
                    <button class="tabs-block__nav-card">
                        <span class="tabs-block__nav-card-title">
                            Прозрачную ценовую политику
                        </span>
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </button>
                    <button class="tabs-block__nav-card">
                        <span class="tabs-block__nav-card-title">
                            Помощь и сопровождение
                        </span>
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="tabs-block__right-col">
                <div class="tabs-block__right-wrapper">
                    <div class="tabs-block__tab">
                        <div class="tabs-block__tab-inner">
                            <div class="tabs-block__tab-row">


                                <div class="tabs-block__tab-text-content">
                                    <h3 class="h3 tabs-block__tab-heading">
                                        Готовый рабочий проект приточно-вытяжной вентиляции
                                    </h3>
                                    <div class="tabs-block__tab-text">
                                        Заказчик получает полностью готовый рабочий проект приточно-вытяжной вентиляции
                                        для
                                        указанного в техническом задании помещения. Далее можно приступать к монтажу
                                        оборудования, пуско-наладке полноценному включению в работу.
                                    </div>
                                </div>
                                <div class="tabs-block__image-wrapper">
                                    <img src="/images/tabs-block.webp" alt="" class="tabs-block__image">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tabs-block__tab">
                        <div class="tabs-block__tab-inner">
                            <div class="tabs-block__tab-row">
                                <div class="tabs-block__tab-text-content">
                                    <h3 class="h3 tabs-block__tab-heading">
                                        Готовый рабочий проект приточно-вытяжной вентиляции
                                    </h3>
                                    <div class="tabs-block__tab-text">
                                        Заказчик получает полностью готовый рабочий проект приточно-вытяжной вентиляции
                                        для
                                        указанного в техническом задании помещения. Далее можно приступать к монтажу
                                        оборудования, пуско-наладке полноценному включению в работу.
                                    </div>
                                </div>
                                <div class="tabs-block__image-wrapper">
                                    <img src="/images/tabs-block.webp" alt="" class="tabs-block__image">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tabs-block__tab">
                        <div class="tabs-block__tab-inner">
                            <div class="tabs-block__tab-row">
                                <div class="tabs-block__tab-text-content">
                                    <h3 class="h3 tabs-block__tab-heading">
                                        Готовый рабочий проект приточно-вытяжной вентиляции
                                    </h3>
                                    <div class="tabs-block__tab-text">
                                        Заказчик получает полностью готовый рабочий проект приточно-вытяжной вентиляции
                                        для
                                        указанного в техническом задании помещения. Далее можно приступать к монтажу
                                        оборудования, пуско-наладке полноценному включению в работу.
                                    </div>
                                </div>
                                <div class="tabs-block__image-wrapper">
                                    <img src="/images/tabs-block.webp" alt="" class="tabs-block__image">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tabs-block__tab">
                        <div class="tabs-block__tab-inner">
                            <div class="tabs-block__tab-row">
                                <div class="tabs-block__tab-text-content">
                                    <h3 class="h3 tabs-block__tab-heading">
                                        Готовый рабочий проект приточно-вытяжной вентиляции
                                    </h3>
                                    <div class="tabs-block__tab-text">
                                        Заказчик получает полностью готовый рабочий проект приточно-вытяжной вентиляции
                                        для
                                        указанного в техническом задании помещения. Далее можно приступать к монтажу
                                        оборудования, пуско-наладке полноценному включению в работу.
                                    </div>
                                </div>
                                <div class="tabs-block__image-wrapper">
                                    <img src="/images/tabs-block.webp" alt="" class="tabs-block__image">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tabs-block__tab">
                        <div class="tabs-block__tab-inner">
                            <div class="tabs-block__tab-row">
                                <div class="tabs-block__tab-text-content">
                                    <h3 class="h3 tabs-block__tab-heading">
                                        Готовый рабочий проект приточно-вытяжной вентиляции
                                    </h3>
                                    <div class="tabs-block__tab-text">
                                        Заказчик получает полностью готовый рабочий проект приточно-вытяжной вентиляции
                                        для
                                        указанного в техническом задании помещения. Далее можно приступать к монтажу
                                        оборудования, пуско-наладке полноценному включению в работу.
                                    </div>
                                </div>
                                <div class="tabs-block__image-wrapper">
                                    <img src="/images/tabs-block.webp" alt="" class="tabs-block__image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>