<section class="team js-tabs">
    <div class="team__content">
        <div class="breadcrumbs">
            <ul class="breadcrumbs__list">
                <li class="breadcrumbs__list-item">
                    <a href="#" class="breadcrumbs__link">
                        Главная
                    </a>
                </li>
                <li class="breadcrumbs__list-item">
                    <a class="breadcrumbs__link active">
                        Команда
                    </a>
                </li>
            </ul>
        </div>
        <h1 class="h1 team__heading">
            Наша команда
        </h1>
        <div class="team__nav">
            <div class="tabs-nav">
                <ul class="tabs-nav__list">
                    <li class="tabs-nav__list-item">
                        <button class="tab-btn js-tabs-btn active">
                            Инженерно-технические работники
                        </button>
                    </li>
                    <li class="tabs-nav__list-item">
                        <button class="tab-btn js-tabs-btn">
                            Сотрудники производства
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="team__wrapper">
            <div class="tab-items">
                <div class="tab-items__item active js-tabs-item">
                    <h2 class="h3 team__tab-heading">
                        Инженерно-технические работники
                    </h2>
                    <ul class="team__list">
                        <li class="team__list-item">
                            <a href="#" class="team-card">
                                <div class="team-card__photo">
                                    <div class="team-card__photo-corners">
                                        <div class="top-left-corner"></div>
                                        <div class="top-right-corner"></div>
                                        <div class="bottom-left-corner"></div>
                                        <div class="bottom-right-corner"></div>
                                    </div>
                                    <div class="team-card__photo-container">
                                        <img src="/images/team/1.webp" alt="" class="team-card__photo-image">
                                    </div>
                                </div>
                                <div class="team-card__content">
                                    <h4 class="h4 team-card__title">
                                        Имя Фамилия
                                    </h4>
                                    <div class="team-card__role">
                                        Должность
                                    </div>
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </div>
                            </a>
                        </li>
                        <li class="team__list-item">
                            <a href="#" class="team-card">
                                <div class="team-card__photo">
                                    <div class="team-card__photo-corners">
                                        <div class="top-left-corner"></div>
                                        <div class="top-right-corner"></div>
                                        <div class="bottom-left-corner"></div>
                                        <div class="bottom-right-corner"></div>
                                    </div>
                                    <div class="team-card__photo-container">
                                        <img src="/images/team/2.webp" alt="" class="team-card__photo-image">
                                    </div>
                                </div>
                                <div class="team-card__content">
                                    <h4 class="h4 team-card__title">
                                        Имя Фамилия
                                    </h4>
                                    <div class="team-card__role">
                                        Должность
                                    </div>
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </div>
                            </a>
                        </li>
                        <li class="team__list-item">
                            <a href="#" class="team-card">
                                <div class="team-card__photo">
                                    <div class="team-card__photo-corners">
                                        <div class="top-left-corner"></div>
                                        <div class="top-right-corner"></div>
                                        <div class="bottom-left-corner"></div>
                                        <div class="bottom-right-corner"></div>
                                    </div>
                                    <div class="team-card__photo-container">
                                        <img src="/images/team/3.webp" alt="" class="team-card__photo-image">
                                    </div>
                                </div>
                                <div class="team-card__content">
                                    <h4 class="h4 team-card__title">
                                        Имя Фамилия
                                    </h4>
                                    <div class="team-card__role">
                                        Должность
                                    </div>
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </div>
                            </a>
                        </li>
                        <li class="team__list-item">
                            <a href="#" class="team-card">
                                <div class="team-card__photo">
                                    <div class="team-card__photo-corners">
                                        <div class="top-left-corner"></div>
                                        <div class="top-right-corner"></div>
                                        <div class="bottom-left-corner"></div>
                                        <div class="bottom-right-corner"></div>
                                    </div>
                                    <div class="team-card__photo-container">
                                        <img src="/images/team/4.webp" alt="" class="team-card__photo-image">
                                    </div>
                                </div>
                                <div class="team-card__content">
                                    <h4 class="h4 team-card__title">
                                        Имя Фамилия
                                    </h4>
                                    <div class="team-card__role">
                                        Должность
                                    </div>
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </div>
                            </a>
                        </li>
                        <li class="team__list-item">
                            <a href="#" class="team-card">
                                <div class="team-card__photo">
                                    <div class="team-card__photo-corners">
                                        <div class="top-left-corner"></div>
                                        <div class="top-right-corner"></div>
                                        <div class="bottom-left-corner"></div>
                                        <div class="bottom-right-corner"></div>
                                    </div>
                                    <div class="team-card__photo-container">
                                        <img src="/images/team/3.webp" alt="" class="team-card__photo-image">
                                    </div>
                                </div>
                                <div class="team-card__content">
                                    <h4 class="h4 team-card__title">
                                        Имя Фамилия
                                    </h4>
                                    <div class="team-card__role">
                                        Должность
                                    </div>
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </div>
                            </a>
                        </li>
                        <li class="team__list-item">
                            <a href="#" class="team-card">
                                <div class="team-card__photo">
                                    <div class="team-card__photo-corners">
                                        <div class="top-left-corner"></div>
                                        <div class="top-right-corner"></div>
                                        <div class="bottom-left-corner"></div>
                                        <div class="bottom-right-corner"></div>
                                    </div>
                                    <div class="team-card__photo-container">
                                        <img src="/images/team/4.webp" alt="" class="team-card__photo-image">
                                    </div>
                                </div>
                                <div class="team-card__content">
                                    <h4 class="h4 team-card__title">
                                        Имя Фамилия
                                    </h4>
                                    <div class="team-card__role">
                                        Должность
                                    </div>
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </div>
                            </a>
                        </li>
                        <li class="team__list-item">
                            <a href="#" class="team-card">
                                <div class="team-card__photo">
                                    <div class="team-card__photo-corners">
                                        <div class="top-left-corner"></div>
                                        <div class="top-right-corner"></div>
                                        <div class="bottom-left-corner"></div>
                                        <div class="bottom-right-corner"></div>
                                    </div>
                                    <div class="team-card__photo-container">
                                        <img src="/images/team/1.webp" alt="" class="team-card__photo-image">
                                    </div>
                                </div>
                                <div class="team-card__content">
                                    <h4 class="h4 team-card__title">
                                        Имя Фамилия
                                    </h4>
                                    <div class="team-card__role">
                                        Должность
                                    </div>
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </div>
                            </a>
                        </li>
                        <li class="team__list-item">
                            <a href="#" class="team-card">
                                <div class="team-card__photo">
                                    <div class="team-card__photo-corners">
                                        <div class="top-left-corner"></div>
                                        <div class="top-right-corner"></div>
                                        <div class="bottom-left-corner"></div>
                                        <div class="bottom-right-corner"></div>
                                    </div>
                                    <div class="team-card__photo-container">
                                        <img src="/images/team/2.webp" alt="" class="team-card__photo-image">
                                    </div>
                                </div>
                                <div class="team-card__content">
                                    <h4 class="h4 team-card__title">
                                        Имя Фамилия
                                    </h4>
                                    <div class="team-card__role">
                                        Должность
                                    </div>
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </div>
                            </a>
                        </li>
                        <li class="team__list-item">
                            <a href="#" class="team-card">
                                <div class="team-card__photo">
                                    <div class="team-card__photo-corners">
                                        <div class="top-left-corner"></div>
                                        <div class="top-right-corner"></div>
                                        <div class="bottom-left-corner"></div>
                                        <div class="bottom-right-corner"></div>
                                    </div>
                                    <div class="team-card__photo-container">
                                        <img src="/images/team/2.webp" alt="" class="team-card__photo-image">
                                    </div>
                                </div>
                                <div class="team-card__content">
                                    <h4 class="h4 team-card__title">
                                        Имя Фамилия
                                    </h4>
                                    <div class="team-card__role">
                                        Должность
                                    </div>
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </div>
                            </a>
                        </li>
                        <li class="team__list-item">
                            <a href="#" class="team-card">
                                <div class="team-card__photo">
                                    <div class="team-card__photo-corners">
                                        <div class="top-left-corner"></div>
                                        <div class="top-right-corner"></div>
                                        <div class="bottom-left-corner"></div>
                                        <div class="bottom-right-corner"></div>
                                    </div>
                                    <div class="team-card__photo-container">
                                        <img src="/images/team/3.webp" alt="" class="team-card__photo-image">
                                    </div>
                                </div>
                                <div class="team-card__content">
                                    <h4 class="h4 team-card__title">
                                        Имя Фамилия
                                    </h4>
                                    <div class="team-card__role">
                                        Должность
                                    </div>
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="tab-items__item js-tabs-item">
                    <h2 class="h3 team__tab-heading">
                        Инженерно-технические работники
                    </h2>
                    <ul class="team__list">
                        <li class="team__list-item">
                            <a href="#" class="team-card">
                                <div class="team-card__photo">
                                    <div class="team-card__photo-corners">
                                        <div class="top-left-corner"></div>
                                        <div class="top-right-corner"></div>
                                        <div class="bottom-left-corner"></div>
                                        <div class="bottom-right-corner"></div>
                                    </div>
                                    <div class="team-card__photo-container">
                                        <img src="/images/team/1.webp" alt="" class="team-card__photo-image">
                                    </div>
                                </div>
                                <div class="team-card__content">
                                    <h4 class="h4 team-card__title">
                                        Имя Фамилия
                                    </h4>
                                    <div class="team-card__role">
                                        Должность
                                    </div>
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </div>
                            </a>
                        </li>
                        <li class="team__list-item">
                            <a href="#" class="team-card">
                                <div class="team-card__photo">
                                    <div class="team-card__photo-corners">
                                        <div class="top-left-corner"></div>
                                        <div class="top-right-corner"></div>
                                        <div class="bottom-left-corner"></div>
                                        <div class="bottom-right-corner"></div>
                                    </div>
                                    <div class="team-card__photo-container">
                                        <img src="/images/team/2.webp" alt="" class="team-card__photo-image">
                                    </div>
                                </div>
                                <div class="team-card__content">
                                    <h4 class="h4 team-card__title">
                                        Имя Фамилия
                                    </h4>
                                    <div class="team-card__role">
                                        Должность
                                    </div>
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </div>
                            </a>
                        </li>
                        <li class="team__list-item">
                            <a href="#" class="team-card">
                                <div class="team-card__photo">
                                    <div class="team-card__photo-corners">
                                        <div class="top-left-corner"></div>
                                        <div class="top-right-corner"></div>
                                        <div class="bottom-left-corner"></div>
                                        <div class="bottom-right-corner"></div>
                                    </div>
                                    <div class="team-card__photo-container">
                                        <img src="/images/team/3.webp" alt="" class="team-card__photo-image">
                                    </div>
                                </div>
                                <div class="team-card__content">
                                    <h4 class="h4 team-card__title">
                                        Имя Фамилия
                                    </h4>
                                    <div class="team-card__role">
                                        Должность
                                    </div>
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </div>
                            </a>
                        </li>
                        <li class="team__list-item">
                            <a href="#" class="team-card">
                                <div class="team-card__photo">
                                    <div class="team-card__photo-corners">
                                        <div class="top-left-corner"></div>
                                        <div class="top-right-corner"></div>
                                        <div class="bottom-left-corner"></div>
                                        <div class="bottom-right-corner"></div>
                                    </div>
                                    <div class="team-card__photo-container">
                                        <img src="/images/team/4.webp" alt="" class="team-card__photo-image">
                                    </div>
                                </div>
                                <div class="team-card__content">
                                    <h4 class="h4 team-card__title">
                                        Имя Фамилия
                                    </h4>
                                    <div class="team-card__role">
                                        Должность
                                    </div>
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </div>
                            </a>
                        </li>
                        <li class="team__list-item">
                            <a href="#" class="team-card">
                                <div class="team-card__photo">
                                    <div class="team-card__photo-corners">
                                        <div class="top-left-corner"></div>
                                        <div class="top-right-corner"></div>
                                        <div class="bottom-left-corner"></div>
                                        <div class="bottom-right-corner"></div>
                                    </div>
                                    <div class="team-card__photo-container">
                                        <img src="/images/team/3.webp" alt="" class="team-card__photo-image">
                                    </div>
                                </div>
                                <div class="team-card__content">
                                    <h4 class="h4 team-card__title">
                                        Имя Фамилия
                                    </h4>
                                    <div class="team-card__role">
                                        Должность
                                    </div>
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </div>
                            </a>
                        </li>
                        <li class="team__list-item">
                            <a href="#" class="team-card">
                                <div class="team-card__photo">
                                    <div class="team-card__photo-corners">
                                        <div class="top-left-corner"></div>
                                        <div class="top-right-corner"></div>
                                        <div class="bottom-left-corner"></div>
                                        <div class="bottom-right-corner"></div>
                                    </div>
                                    <div class="team-card__photo-container">
                                        <img src="/images/team/4.webp" alt="" class="team-card__photo-image">
                                    </div>
                                </div>
                                <div class="team-card__content">
                                    <h4 class="h4 team-card__title">
                                        Имя Фамилия
                                    </h4>
                                    <div class="team-card__role">
                                        Должность
                                    </div>
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </div>
                            </a>
                        </li>
                        <li class="team__list-item">
                            <a href="#" class="team-card">
                                <div class="team-card__photo">
                                    <div class="team-card__photo-corners">
                                        <div class="top-left-corner"></div>
                                        <div class="top-right-corner"></div>
                                        <div class="bottom-left-corner"></div>
                                        <div class="bottom-right-corner"></div>
                                    </div>
                                    <div class="team-card__photo-container">
                                        <img src="/images/team/1.webp" alt="" class="team-card__photo-image">
                                    </div>
                                </div>
                                <div class="team-card__content">
                                    <h4 class="h4 team-card__title">
                                        Имя Фамилия
                                    </h4>
                                    <div class="team-card__role">
                                        Должность
                                    </div>
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section>