<section class="why-us">
    <div class="why-us__content">
        <div class="why-us__top-row">
            <h2 class="h2 why-us__heading">
                Почему заказчикам нравится с нами работать
            </h2>
            <a href="#callback-modal" class="btn why-us__btn">
                Оставить заявку
            </a>
        </div>
        <ul class="why-us__list">
            <li class="why-us__list-item">
                <div class="why-us__card">
                    <div class="why-us__card-corners">
                        <div class="top-left-corner"></div>
                        <div class="top-right-corner"></div>
                        <div class="bottom-left-corner"></div>
                        <div class="bottom-right-corner"></div>
                    </div>
                    <h3 class="why-us__card-title">
                        Предоставляем полный пакет документов
                    </h3>
                    <div class="why-us__card-text">
                        Готовим проектную и исполнительную документацию; выдаём сертификаты, гарантийные талоны,
                        паспорта и инструкции на установленное оборудование
                    </div>
                </div>
            </li>
            <li class="why-us__list-item">
                <div class="why-us__card">
                    <div class="why-us__card-corners">
                        <div class="top-left-corner"></div>
                        <div class="top-right-corner"></div>
                        <div class="bottom-left-corner"></div>
                        <div class="bottom-right-corner"></div>
                    </div>
                    <h3 class="why-us__card-title">
                        Выполняем контроль качества работ
                    </h3>
                    <div class="why-us__card-text">
                        Осуществляем проверку сварных соединений различными методами, проводим необходимые электрические
                        испытания и измерения
                    </div>
                </div>
            </li>
            <li class="why-us__list-item">
                <div class="why-us__card">
                    <div class="why-us__card-corners">
                        <div class="top-left-corner"></div>
                        <div class="top-right-corner"></div>
                        <div class="bottom-left-corner"></div>
                        <div class="bottom-right-corner"></div>
                    </div>
                    <h3 class="why-us__card-title">
                        Берём на себя решение сопутствующих задач
                    </h3>
                    <div class="why-us__card-text">
                        Поможем с выбором, покупкой, доставкой материалов и оборудования. Наладим взаимодействие
                        с другими подрядчиками
                    </div>
                </div>
            </li>
            <li class="why-us__list-item">
                <div class="why-us__card">
                    <div class="why-us__card-corners">
                        <div class="top-left-corner"></div>
                        <div class="top-right-corner"></div>
                        <div class="bottom-left-corner"></div>
                        <div class="bottom-right-corner"></div>
                    </div>
                    <h3 class="why-us__card-title">
                        Соблюдаем согласованные сроки работ
                    </h3>
                    <div class="why-us__card-text">
                        Грамотное планирование, строгое следование графику работ, слаженная работа команды и отсутствие
                        форс-мажоров позволяют следовать установленным датам
                    </div>
                </div>
            </li>
            <li class="why-us__list-item">
                <div class="why-us__card">
                    <div class="why-us__card-corners">
                        <div class="top-left-corner"></div>
                        <div class="top-right-corner"></div>
                        <div class="bottom-left-corner"></div>
                        <div class="bottom-right-corner"></div>
                    </div>
                    <h3 class="why-us__card-title">
                        Гарантируем безопасность выполняемых работ
                    </h3>
                    <div class="why-us__card-text">
                        Специалисты компании неукоснительно соблюдают правила охраны труда и техники безопасности,
                        требования режима, установленного на объекте
                    </div>
                </div>
            </li>
            <li class="why-us__list-item">
                <div class="why-us__card">
                    <div class="why-us__card-corners">
                        <div class="top-left-corner"></div>
                        <div class="top-right-corner"></div>
                        <div class="bottom-left-corner"></div>
                        <div class="bottom-right-corner"></div>
                    </div>
                    <h3 class="why-us__card-title">
                        Работаем по установленной в договоре стоимости
                    </h3>
                    <div class="why-us__card-text">
                        Учитывая требования ТЗ и бюджет, предложим оптимальное проектное решение, подберём материалы
                        и оборудование. Вы получите реальную смету без «скрытых» затрат
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>