.top-left-corner {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  pointer-events: none;
  &::before,
  &::after {
    content: "";
    background-color: var(--corner-color, #1b4677);
    width: var(--corner-width, 1px);
    height: var(--corner-height, 4.5rem);
    top: 0;
    left: 0;
    transform-origin: right top;
    position: absolute;
  }

  &::after {
    rotate: -90deg;

    margin-left: calc(-1 * var(--corner-width, 1px) / 2);
  }
}
.top-right-corner {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  pointer-events: none;
  &::before,
  &::after {
    content: "";
    background-color: var(--corner-color, #1b4677);
    width: var(--corner-width, 1px);
    height: var(--corner-height, 4.5rem);
    top: 0;
    right: 0;
    transform-origin: left top;
    position: absolute;
  }

  &::after {
    rotate: 90deg;
    margin-right: calc(-1 * var(--corner-width, 1px) / 2);
  }
}

.bottom-left-corner {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  pointer-events: none;
  &::before,
  &::after {
    content: "";
    background-color: var(--corner-color, #1b4677);
    width: var(--corner-width, 1px);
    height: var(--corner-height, 4.5rem);
    bottom: 0;
    left: 0;
    transform-origin: right bottom;
    position: absolute;
  }

  &::after {
    rotate: 90deg;

    margin-left: calc(-1 * var(--corner-width, 1px) / 2);
  }
}

.bottom-right-corner {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  pointer-events: none;
  &::before,
  &::after {
    content: "";
    background-color: var(--corner-color, #1b4677);
    width: var(--corner-width, 1px);
    height: var(--corner-height, 4.5rem);
    bottom: 0;
    right: 0;
    transform-origin: left bottom;
    position: absolute;
  }

  &::after {
    rotate: -90deg;

    margin-right: calc(-1 * var(--corner-width, 1px) / 2);
  }
}
