.our-team {
  @include blockWrapper;
  margin-bottom: 12rem;

  @include breakpoint(mobile) {
    margin-bottom: 7.2rem;
  }
}

.our-team__content {
  @include blockContent;
  display: flex;
  flex-direction: column;
}

.our-team__heading {
  margin-bottom: 3.2rem;

  @include breakpoint(mobile) {
    margin-bottom: 2.4rem;
  }
}

.our-team__slider {
  @include breakpoint(mobile) {
    .swiper {
      overflow: visible;
    }
  }

  .swiper-slide {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: auto;
    width: calc(25% - 3 * 2.4rem / 4);
    margin-right: 2.4rem;
    &:last-child {
      margin-right: 0;
    }
    @include breakpoint(mobile) {
      width: 29.5rem;
      margin-right: 0.8rem;
    }
  }
}

.our-team__slider-controls {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-gap: 0.8rem;
  align-items: center;

  @include breakpoint(mobile) {
    margin-top: 3.2rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: space-between;
  }
}

.our-team__slider-arrows {
  grid-column: 1 / 6;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  justify-self: flex-start;

  @include breakpoint(mobile) {
    gap: 0.8rem;
  }
}

.our-team__slider-pagination {
  grid-column: 6 / 7;
  justify-self: flex-end;

  @include breakpoint(mobile) {
    order: -1;
  }
}
