.page-header {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 800;
  width: 100%;

  @include breakpointMF(small-tablet) {
    &.page-header--fixed {
      background-color: #fff;
      @include blockWrapper;
    }
  }

  @include breakpoint(mobile) {
    @include blockWrapper;
    background-color: #fff;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background-color: #fff;
      z-index: 76;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.4s, visibility 0s linear 0.4s;
    }

    .menu-open & {
      &::before {
        opacity: 1;
        visibility: inherit;
        transition: opacity 0.4s, visibility 0.4s;
      }
    }
  }
}

.page-header__outer-wrapper {
  @include breakpointMF(small-tablet) {
    .page-header--fixed & {
      @include blockContent;
      padding: 1.2rem 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;
    }
  }

  @include breakpoint(mobile) {
    @include blockContent;
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: space-between;
    height: 8.7rem;
  }
}

.page-header__top {
  @include breakpointMF(small-tablet) {
    .page-header:not(.page-header--fixed) & {
      @include blockWrapper;
      background-color: #fff;
    }

    .page-header--fixed & {
      display: contents;
    }
  }

  @include breakpoint(mobile) {
    display: contents;
  }
}

.page-header__top-content {
  @include breakpointMF(small-tablet) {
    .page-header:not(.page-header--fixed) & {
      @include blockContent;
      display: flex;
      align-items: center;
      padding: 1.2rem 0;
      gap: 0.8rem;
    }

    .page-header--fixed & {
      display: contents;
    }
  }

  @include breakpoint(mobile) {
    display: contents;
  }
}

.page-header__logo {
  flex-shrink: 0;

  @include breakpointMF(small-tablet) {
    position: relative;
    align-self: flex-start;
    margin-right: 7.6rem;
    .page-header--fixed & {
      margin-right: 0;
    }
  }

  @include breakpoint(mobile) {
    position: relative;
    z-index: 80;
    &:not(.page-header__logo--only-mobile) {
      display: none;
    }
  }
}

.page-header__logo--only-mobile {
  @include breakpointMF(small-tablet) {
    display: none;
  }
}

.page-header__logo-image {
  display: block;
  width: 29rem;
  height: auto;

  @include breakpoint(mobile) {
    width: 22.4rem;
  }
}

.page-header__contacts {
  @include breakpointMF(small-tablet) {
    flex-shrink: 0;
    margin-right: auto;
    .page-header--fixed & {
      display: none;
    }
  }

  @include breakpoint(mobile) {
    margin: 0.8rem 0;
  }
}

.page-header__callback-btn {
  @include breakpointMF(small-tablet) {
    order: 50;
  }

  @include breakpoint(mobile) {
    grid-area: callback;
    align-self: stretch;
  }
}

.page-header__contacts-list {
  flex-shrink: 0;
  display: flex;
  align-items: flex-start;
  gap: 7rem;

  @include breakpoint(mobile) {
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap;
  }
}
.page-header__contacts-list-item {
  @include breakpoint(mobile) {
    flex-basis: calc(50% - 2rem / 2);
    flex-shrink: 0;
    flex-grow: 1;
  }
}

.page-header__contacts-card {
  display: flex;
  align-items: flex-start;
  gap: 0.8rem;

  @include breakpoint(mobile) {
    gap: 0.4rem;
    white-space: nowrap;
  }

  svg {
    fill: var(--primary-color);
    width: 1.6rem;
    height: 1.6rem;
    margin-top: 0.25rem;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      .page-header__contacts-card-title {
        color: var(--primary-color);
      }
    }
  }
}

.page-header__contacts-card-content {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  padding-top: 0.2rem;
}

.page-header__contacts-card-title {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  font-family: var(--tektur);
  white-space: nowrap;
  transition: color 0.2s;

  @include breakpoint(mobile) {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
  }
}

.page-header__contacts-card-text {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  font-family: var(--tektur);
  color: #626262;
}

.page-header__social {
  flex-shrink: 0;

  @include breakpointMF(small-tablet) {
    .page-header--fixed & {
      display: none;
    }
  }

  @include breakpoint(mobile) {
    grid-area: social;
  }
}

.page-header__social-list {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.page-header__social-list-item {
  flex-shrink: 0;
}

.page-header__social-link {
  display: grid;
  place-items: center;
  width: 5.6rem;
  height: 5.6rem;
  text-align: center;
  border: 1px solid var(--primary-color);
  transition: border-color 0.2s, background-color 0.2s, opacity 0.2s;

  svg {
    display: block;
    width: 2.4rem;
    height: 2.4rem;
    fill: var(--primary-color);
    transition: fill 0.2s;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      opacity: 0.5;
    }
  }
}

.page-header__bottom {
  @include breakpointMF(small-tablet) {
    .page-header:not(.page-header--fixed) & {
      @include blockWrapper;
      background-color: #f4f4f4;
    }
    .page-header--fixed & {
      display: contents;
    }
  }

  @include breakpoint(mobile) {
    display: contents;
  }
}

.page-header__bottom-content {
  @include breakpointMF(small-tablet) {
    .page-header:not(.page-header--fixed) & {
      @include blockContent;
      display: flex;
      justify-content: space-between;
      gap: 2rem;
    }
    .page-header--fixed & {
      display: contents;
    }
  }

  @include breakpoint(mobile) {
    display: contents;
  }
}

.page-header__menu {
  display: contents;

  @include breakpoint(mobile) {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overscroll-behavior-y: contain;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 70;
    display: flex;
    flex-direction: column;
    transition: opacity 0.4s, visibility 0s linear 0.4s;
    opacity: 0;
    visibility: hidden;
    background-color: white;
    color: var(--text-color);
    padding: 0 var(--content-padding);
    padding-top: 9.4rem;
    padding-bottom: 6rem;

    .menu-open & {
      opacity: 1;
      visibility: visible;
      transition: opacity 0.4s, visibility 0.4s;
    }

    &:has(.submenu-open) {
      @include noScrollbar;
    }

    body:not(.loaded) & {
      display: none;
    }
  }
}

.page-header__menu-inner {
  display: contents;

  @include breakpoint(mobile) {
    display: grid;
    grid-template-columns: minmax(0, 1fr) auto;
    grid-gap: 2rem;
    grid-template-areas: "nav nav" "contacts contacts" "social search" "callback callback";
    grid-row-gap: 3.2rem;
  }
}

.page-header__nav {
  @include breakpointMF(small-tablet) {
    display: contents;
    .page-header--fixed & {
      align-self: stretch;
      display: flex;
      flex-direction: column;
      margin: -1.2rem 0;
    }
  }

  @include breakpoint(mobile) {
    grid-area: nav;
  }
}

.page-header__nav-list {
  @include breakpointMF(small-tablet) {
    display: contents;
    .page-header--fixed & {
      display: flex;
      align-items: stretch;
      gap: 4rem;
      flex-grow: 1;
    }
  }
}

.page-header__nav-list-item {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;

  @include breakpoint(mobile) {
    border-bottom: 1px solid #f0f2f5;
    &:first-child {
      border-top: 1px solid #f0f2f5;
    }
  }
}

.page-header__nav-link {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  font-family: var(--tektur);
  display: flex;
  align-items: center;
  gap: 0.8rem;
  height: 4.8rem;
  flex-grow: 1;

  svg {
    flex-shrink: 0;
    width: 1rem;
    height: 0.5rem;
    fill: var(--primary-color);
    transition: fill 0.2s, transform 0.2s;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: rgba(#061930, 0.3);
    }
  }

  @include breakpointMF(small-tablet) {
    .page-header__nav-list-item:hover & {
      svg {
        transform: rotate(180deg);
      }
    }
  }

  @include breakpoint(mobile) {
    height: auto;
    padding: 2.2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;

    svg {
      transform: rotate(-90deg);
      width: 1.6rem;
      height: 0.8rem;
    }
  }
}

.page-header__search {
  flex-shrink: 0;
  position: relative;

  @include breakpointMF(small-tablet) {
    .page-header--fixed & {
      display: none;
    }
  }

  @include breakpoint(mobile) {
    grid-area: search;
    align-self: center;
    justify-self: flex-end;
  }
}

.page-header__search-btn {
  width: 1.6rem;
  height: 1.6rem;
  transition: fill 0.2s;
  height: 4.8rem;
  width: 4.8rem;
  display: grid;
  place-items: center;
  position: relative;
  z-index: 15;

  svg {
    display: block;
    width: 2.4rem;
    height: 2.4rem;
    fill: rgba(194, 194, 194, 1);
    transition: transform 0.2s;
  }

  @include breakpointMF(small-tablet) {
    .page-header__search.open & {
      svg {
        transform: scale(0.66);
      }
    }
  }

  @include breakpoint(mobile) {
    border: 1px solid #c2c2c2;
    width: 5.6rem;
    height: 5.6rem;
  }
}

.page-header__search-dropdown {
  position: absolute;
  right: 0;
  height: 3.2rem;
  background-color: #fff;
  padding-right: 4rem;
  top: 50%;
  transform: translateY(-50%);
  right: 0.8rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s, visibility 0s linear 0.2s, width 0.4s ease-in;
  width: 0;

  .page-header__search.open & {
    opacity: 1;
    visibility: inherit;
    transition: opacity 0.2s, visibility 0.2s, width 0.4s ease-out;
    width: 26rem;
  }

  @include breakpoint(mobile) {
    height: auto;
    top: 0;
    bottom: 0;
    padding-right: 5.6rem;
    right: 0;
    transform: none;
    border: 1px solid #c2c2c2;
    transition: opacity 0.4s, visibility 0s linear 0.4s, width 0.4s ease;
    .page-header__search.open & {
      width: calc(100vw - var(--content-padding) * 2);
      transition: opacity 0.2s, visibility 0.2s, width 0.4s ease-out;
    }
  }
}

.page-header__search-form {
  height: 100%;
}

.page-header__search-input {
  display: block;
  width: 100%;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  color: var(--tektur);
  width: 100%;
  height: 100%;
  padding: 0 1.2rem;

  @include breakpoint(mobile) {
    padding: 0 2rem;
    font-size: 1.6rem;
  }

  &::placeholder {
    color: #c2c2c2;
  }
}

.page-header__submenu {
  @include breakpointMF(small-tablet) {
    background-color: #fbfbfb;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s, visibility 0s linear 0.2s;
    z-index: 10;

    padding-top: 4rem;
    padding-bottom: 7.6rem;

    @include blockWrapper;

    .page-header__nav-list-item:hover & {
      opacity: 1;
      visibility: inherit;
      transition: opacity 0.2s, visibility 0.2s;
    }
  }

  @include breakpoint(mobile) {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overscroll-behavior-y: contain;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 75;
    display: flex;
    flex-direction: column;
    transition: opacity 0.4s, visibility 0s linear 0.4s;
    opacity: 0;
    visibility: hidden;
    background-color: white;
    color: var(--text-color);
    padding: 0 var(--content-padding);

    padding-top: 9.4rem;
    padding-bottom: 6rem;

    .submenu-open & {
      opacity: 1;
      visibility: inherit;
      transition: opacity 0.4s, visibility 0.4s;
    }

    body:not(.loaded) & {
      display: none;
    }
  }
}

.page-header__submenu-inner {
  @include breakpointMF(small-tablet) {
    @include blockContent;
  }
}

.page-header__submenu-nav {
  @include breakpointMF(small-tablet) {
    margin-bottom: 2.4rem;
  }

  @include breakpoint(mobile) {
    margin-bottom: 3.2rem;
  }
}

.page-header__submenu-tab {
  @include breakpointMF(small-tablet) {
    display: grid;
    grid-template-columns: 53rem 1fr;
    grid-template-areas: "left right";
    background-color: #fff;
    background-image: url("../images/nav-menu-bg.svg");
    background-position: right bottom;
    background-size: 94.6rem auto;
    background-repeat: no-repeat;
  }
}
.page-header__submenu-left-wrapper {
  @include breakpointMF(small-tablet) {
    padding: 3.2rem;

    display: flex;
    flex-direction: column;
    grid-area: left;
  }
}

.page-header__submenu-right-wrapper {
  @include breakpointMF(small-tablet) {
    grid-area: right;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  @include breakpoint(mobile) {
    display: none;
  }
}

.page-header__third-level-submenu {
  flex-grow: 1;
  background-color: #f0f2f5;
  display: flex;
  flex-direction: column;
  padding: 4rem;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s, visibility 0s linear 0.2s;
  z-index: 5;

  &.active {
    opacity: 1;
    position: relative;
    z-index: 10;
    opacity: 1;
    visibility: inherit;
    transition: opacity 0.2s, visibility 0.2s;
  }
}

.page-header__third-level-submenu-list {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.page-header__third-level-submenu-link {
  display: block;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: var(--primary-color);
    }
  }
}

.page-header__submenu-list {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  @include breakpoint(mobile) {
    gap: 0;
  }
}

.page-header__submenu-list-item {
  margin-right: -3.2rem;
  padding-right: 3.2rem;

  @include breakpoint(mobile) {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #f0f2f5;
    &:first-child {
      border-top: 1px solid #f0f2f5;
    }
  }
}

.page-header__submenu-link {
  display: block;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;

  svg {
    display: inline-block;
    width: 0.8rem;
    height: 1.6rem;
    fill: var(--primary-color);
    margin-left: 0.2em;
    vertical-align: middle;
    margin-bottom: 0.1rem;
    transition: transform 0.2s;
    display: none;
    @include breakpoint(mobile) {
      display: block;
    }
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: var(--primary-color);
    }
  }

  .page-header__submenu-list-item:has(.page-header__submenu-second-level) & {
    svg {
      transform: rotate(90deg);
    }
  }

  @include breakpoint(mobile) {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    font-family: var(--tektur);
    padding: 2.8rem 0;
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: space-between;
    svg {
      display: none;
    }

    .page-header__submenu-list-item:has(.page-header__submenu-second-level) & {
      svg {
        display: inline-block;
      }
    }

    .accordion-open & {
      svg {
        transform: rotate(-90deg) !important;
      }
    }
  }
}

.page-header__submenu-second-level {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  transition: grid-template-rows 500ms;

  @include breakpointMF(small-tablet) {
    grid-template-rows: 1fr;
    .page-header__submenu-list-item:hover & {
      grid-template-rows: 1fr;
    }
  }

  @include breakpoint(mobile) {
    grid-template-rows: 0fr;

    .accordion-open & {
      grid-template-rows: 1fr;
    }
  }
}

.page-header__submenu-second-level-content {
  overflow: hidden;
}

.page-header__submenu-second-level-list {
  @include breakpointMF(small-tablet) {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    padding-left: 1.6rem;
    padding-top: 1.2rem;
  }

  @include breakpoint(mobile) {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    padding-bottom: 3.2rem;
  }
}

.page-header__submenu-second-level-link {
  display: block;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  color: #626262;
  transition: color 0.2s;

  svg {
    fill: var(--primary-color);
    flex-shrink: 0;
    display: inline-block;
    vertical-align: middle;
    width: 0.8rem;
    height: 1.6rem;
    margin-left: 0.3rem;
    margin-bottom: 0.2rem;
  }

  &:link,
  &:visited {
    color: #626262;
  }

  &.active {
    color: rgba(#626262, 0.5);
  }

  &:hover {
    color: rgba(#626262, 0.5);
  }

  @include breakpoint(mobile) {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-family: var(--tektur);

    svg {
      display: inline-block;
      vertical-align: middle;
      width: 0.7rem;
      height: 1.3rem;
      fill: var(--primary-color);
      margin-left: 0.2em;
      display: none;
    }
  }
}

.page-header__burger {
  display: none;

  @include breakpoint(mobile) {
    flex-shrink: 0;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    width: 3.2rem;
    height: 3.2rem;
    justify-content: center;
    position: relative;
    z-index: 80;
    margin-bottom: -1rem;

    & > span {
      height: 1px;
      width: 3.2rem;
      background-color: var(--primary-color);
      transition: transform 0.2s, opacity 0.2s;
    }

    .menu-open & {
      & > span {
        &:nth-child(1) {
          transform: translateY(0.9rem) rotate(45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          transform: translateY(-0.9rem) rotate(-45deg);
        }
      }
    }
  }
}

.page-header__submenu-back {
  display: none;

  @include breakpoint(mobile) {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    margin-bottom: 3.2rem;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    font-family: var(--tektur);
    color: #c2c2c2;
    text-align: left;

    svg {
      width: 0.8rem;
      height: 1.6rem;
      flex-shrink: 0;
      fill: var(--primary-color);
    }
  }
}

.page-header__submenu-top-level-link {
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 135%;
  font-family: var(--tektur);
  margin-bottom: 1.6rem;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: var(--primary-color);
    }
  }

  @include breakpoint(mobile) {
    display: none;
  }
}
