.tab-btn {
  display: block;
  text-align: center;
  padding: 1.6rem 4rem;
  border-bottom: 1px solid #c2c2c2;
  width: auto;
  text-align: center;
  white-space: nowrap;
  transition: color 0.2s, border-color 0.2s, background-color 0.2s;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: var(--tektur);
  color: #c2c2c2;
  &:link,
  &:visited {
    color: #c2c2c2;
  }

  &.active {
    cursor: default;
    color: var(--primary-color);
    border-color: var(--primary-color);
  }

  @include breakpoint(mobile) {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 1.6rem;
  }
}
