:root {
  --primary-color: #1b4677;
  --text-color: #061930;
  --text-color-2: #212121;
  --bg-color: #fcfcfc;
  --grey: #f0f2f5;
  --winston: "Winston", sans-serif;
  --tektur: "Tektur", serif;
  --content-padding: 4rem;
  --container-width: 150rem;
  --header-height: 12.8rem;

  @include breakpoint(mobile) {
    --content-padding: 2.4rem;
    --header-height: 8.7rem;
  }
}
